@charset "utf-8";
/* CSS Document */
@import url("fonts.css");
@import url("icons/icons-menu.css");
@import url("icons/coquette16.css");
@import url("icons/coquette24.css");
@import url("icons/coquette32.css");
@import url("icons/coquette48.css"); 
@import url("icons/bluebits32.css");

#background{
	background:url(../img/textures/scratches.png) repeat;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.4;
	z-index:-1;
}

/* Logo
---------------------------------------------------------------------------- */	
#logo{
}

/* Access
---------------------------------------------------------------------------- */	
#access{
	height:40px;
	width: 100%;
	margin: 0;
    padding-left:0px;
	text-align: center;
	list-style-type: none;
}
#access > li {
	float: left;
	width: 20%;
	height: 42px;
	font-size: 26px;
	line-height: 42px;
	position: relative;
	color: #333;
	color: rgba(0, 0, 0, 0.5);
}
#access > li.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}
#access > li > img {
	vertical-align: middle;
}
#access > li > span {
	*vertical-align: middle;
}
#access > li > a {
	display: block;
	height: 34px;
	padding: 4px 0;
	line-height: 34px;
	color: #333;
	color: rgba(0, 0, 0, 0.55);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
#access > li > a:after {
	position: absolute;
	content: ' ';
	left: 4px;
	right: 4px;
	bottom: 4px;
	height: 1px;
	background: #3399cc;
	border-bottom: 1px solid #66ccff;
	-webkit-box-shadow: 0 0 5px 2px rgb(51, 153, 204), 0 -2px 10px rgba(51, 153, 204, 0.75);
	-moz-box-shadow: 0 0 5px 2px rgb(51, 153, 204), 0 -2px 10px rgba(51, 153, 204, 0.75);
	box-shadow: 0 0 5px 2px rgb(51, 153, 204), 0 -2px 10px rgba(51, 153, 204, 0.75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}
.ie8 #access > li > a:after {
	display: none;
}
#access > li > a:hover {
	padding-top: 0;
	padding-bottom: 8px;
	color: #222;
}
#access > li > a:hover:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}
.ie8 #access > li > a:hover:after {
	display: block;
}
.no-generatedcontent #access > li > a:hover {
	padding-bottom: 4px;
	border-bottom: 4px solid #66ccff;
}
#access > li.dropdown .caret{margin-top:7px;}
#access > li > .dropdown-menu{ font-size: 12px; text-align: left;}


/* Profile
---------------------------------------------------------------------------- */	
#profile{
	background: rgb(0,0,0); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZDRkNGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(0,0,0) 0%, rgb(77,77,77) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,0,0)), color-stop(100%,rgb(77,77,77))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(0,0,0) 0%,rgb(77,77,77) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(0,0,0) 0%,rgb(77,77,77) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(0,0,0) 0%,rgb(77,77,77) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(0,0,0) 0%,rgb(77,77,77) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-8 */
	color: #b2b2b2;
	padding: 15px 10px;
	font-size: 14px;
	line-height: 14px;
}

#profile .thumbnail{
    margin-bottom: 0;
    background: none;
    border:none;
    padding-left:15px;
}

#profile .name{
	display: block;
	font-size: 16px;
	line-height: 22px;
	margin-top:2px;
	margin-bottom: 2px;
	color: #fff;
}

#profile .profileUprawnienia{
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#1be2df;
}


/* breadcrum
---------------------------------------------------------------------------- */	
#main header .breadcrumb{background:none;}
#main header .breadcrumb > li + li:before {
padding: 0 5px;  
content: none;}


/* footer
---------------------------------------------------------------------------- */	
.footer{
	padding: 6px 10px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
	font-size:12px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.37)), to(rgba(255, 255, 255, 0)), color-stop(0.04, rgba(255, 255, 255, 0.31)), color-stop(0.44, rgba(255, 255, 255, 0.15)), color-stop(0.49, rgba(255, 255, 255, 0.11)), color-stop(0.5, rgba(255, 255, 255, 0.02)));
	background: -webkit-linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background: -moz-linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background: -ms-linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background: -o-linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background: linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background-color: #575d62;
}

.footer.black{
	background: #000000;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(black), color-stop(0.04, #4f4f4f), color-stop(0.44, #262626), color-stop(0.5, #1c1c1c), color-stop(0.5, #050505));
	background: -webkit-linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
	background: -moz-linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
	background: -ms-linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
	background: -o-linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
	background: linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
}


/* ul, ol
---------------------------------------------------------------------------- */	
.unstyled-list{
	margin:0px;
	padding:0px;
	list-style:none;
}


/* Main
---------------------------------------------------------------------------- */	    

#mainContent{
	position:static;
    padding: 0 20px;
}

#main header h1{                       
	color:#373b3f;
	text-transform: uppercase; 
	line-height: 20px;
	padding: 10px 10px 10px;
	font-size: 18px;
	margin: 0px;
}


/* helps
------------------------------------------------------------------------ */
.m-r-10{margin-right:10px;}



/********************************************************/
/*         10. List arrows, count & sort handle         */
/********************************************************/

/* Arrows */
.with-left-arrow,
.with-right-arrow,
.tabs > li > a {
    position: relative;
    }
    .with-left-arrow:after,
    .with-right-arrow:after,
    .tabs > li > a:after {
        display: block;
        content: '';
        width: 15px;
        height: 20px;
        position: absolute;
        top: 50%;
        margin: -11px 0 0 0;
        padding: 0;
        border: 0;
        }
        /* IE7 */
        .with-arrow-after {
            display: block;
            width: 15px !important;
            height: 20px !important;
            position: absolute !important;
            top: 50%;
            margin: -11px 0 0 0 !important;
            padding: 0 !important;
            border: 0 !important;
        }
        .with-left-arrow:after {
            left: 7px;
            background: url(../img/standard/sprites.png) no-repeat -209px 0;
            }
            /* IE7 */
            .with-left-arrow > .with-arrow-after {
                left: 7px;
                background: url(../img/standard/sprites.png) no-repeat -209px 0;
            }
        .with-right-arrow:after,
        .tabs > li > a:after {
            right: 7px;
            background: url(../img/standard/sprites.png) no-repeat -224px -19px;
            }
            /* IE7 */
            .with-right-arrow > .with-arrow-after,
            .tabs > li > a > .with-arrow-after {
                right: 7px;
                background: url(../img/standard/sprites.png) no-repeat -224px -19px;
            }

        /* Variations */
        .with-left-arrow.grey-arrow:after    { background-position: -209px -20px; }
        .with-left-arrow.black-arrow:after    { background-position: -209px -40px; }
        .with-right-arrow.grey-arrow:after,
        .tabs > li > a:after                { background-position: -224px -20px; }
        .with-right-arrow.black-arrow:after    { background-position: -224px -40px; }
            /* IE7 */
            .with-left-arrow.grey-arrow > .with-arrow-after        { background-position: -209px -20px; }
            .with-left-arrow.black-arrow > .with-arrow-after    { background-position: -209px -40px; }
            .with-right-arrow.grey-arrow > .with-arrow-after,
            .tabs > li > a > .with-arrow-after                    { background-position: -224px -20px; }
            .with-right-arrow.black-arrow > .with-arrow-after    { background-position: -224px -40px; }

        /* Arrow up */
        .arrow-up:after    {
            background-position: -239px 0;
            width: 20px;
            height: 15px;
            margin: -8px -2px 0 -2px;
            }
            .arrow-up.grey-arrow:after    { background-position: -239px -15px; }
            .arrow-up.black-arrow:after    { background-position: -239px -30px; }
            /* IE7 */
            .arrow-up > .with-arrow-after    {
                background-position: -239px 0;
                width: 20px !important;
                height: 15px !important;
                margin: -8px -2px 0 -2px !important;
                }
                .arrow-up.grey-arrow > .with-arrow-after    { background-position: -239px -15px; }
                .arrow-up.black-arrow > .with-arrow-after    { background-position: -239px -30px; }

        /* Arrow down */
        .arrow-down:after    {
            background-position: -259px 0;
            width: 20px;
            height: 15px;
            margin: -8px -2px 0 -2px;
            }
            .arrow-down.grey-arrow:after    { background-position: -259px -15px; }
            .arrow-down.black-arrow:after    { background-position: -259px -30px; }
            /* IE7 */
            .arrow-down > .with-arrow-after    {
                background-position: -259px 0;
                width: 20px !important;
                height: 15px !important;
                margin: -8px -2px 0 -2px !important;
                }
                .arrow-down.grey-arrow > .with-arrow-after    { background-position: -259px -15px; }
                .arrow-down.black-arrow > .with-arrow-after    { background-position: -259px -30px; }

/* Count */
.list-count {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
    padding: 1px 6px;
    margin: -9px 0;
    min-width: 11px;
    text-align: center;
    background: url(../img/old-browsers/grey20.png);
    background: rgba(128, 128, 128, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    }
    .with-right-arrow > .list-count, .with-right-arrow > a > .list-count, .with-right-arrow > span > .list-count,
    .tabs > li > .list-count, .tabs > li > a > .list-count, .tabs > li > span > .list-count {
        right: 30px;
    }
    .no-boxshadow .list-count {
        padding: 0 6px;
        border: 1px solid white;
    }

/* Sort handle */
.list-sort {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    width: 11px;
    height: 8px;
    background: url(../img/standard/sprites.png) no-repeat -154px 0;
    cursor: move;
}


/********************************************************/
/*                   11. Block arrows                   */
/********************************************************/

.block-arrow {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 1px 0 0 -6px;
    border: 6px solid transparent;
    border-top-color: inherit;
    //border-top-color:expression(this.parentNode.currentStyle['border-top-color']);
    }
    .block-arrow > span {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        margin: -7px -6px -5px -6px;
        border: 6px solid transparent;
        border-top-color: #e4e7eb;
        }
        .silver-gradient > .block-arrow > span            { border-top-color: #d6dadf; }
        .translucid > .block-arrow > span, .notification > .block-arrow > span,
        .black-gradient > .block-arrow > span            { border-top-color: #000000; }
        .anthracite-gradient > .block-arrow > span        { border-top-color: #404040; }
        .grey-gradient > .block-arrow > span            { border-top-color: #939393; }
        .red-gradient > .block-arrow > span                { border-top-color: #d52607; }
        .orange-gradient > .block-arrow > span            { border-top-color: #ff9e00; }
        .green-gradient > .block-arrow > span            { border-top-color: #87ba17; }
        .blue-gradient > .block-arrow > span            { border-top-color: #00438d; }
    .block-arrow.top {
        top: auto;
        left: 50%;
        bottom: 100%;
        margin: 0 0 1px -6px;
        border-top-color: transparent;
        border-bottom-color: inherit;
        //border-bottom-color:expression(this.parentNode.currentStyle['border-bottom-color']);
        }
        .block-arrow.top > span {
            margin: -5px -6px -7px -6px;
            border-top-color: transparent;
            border-bottom-color: #f7f7fa;
            }
            .silver-gradient > .block-arrow.top > span        { border-bottom-color: #efeff4; }
            .translucid > .block-arrow.top > span, .notification > .block-arrow.top > span,
            .black-gradient > .block-arrow.top > span        { border-bottom-color: #333333; }
            .anthracite-gradient > .block-arrow.top > span    { border-bottom-color: #565656; }
            .grey-gradient > .block-arrow.top > span        { border-bottom-color: #b3b3b3; }
            .red-gradient > .block-arrow.top > span            { border-bottom-color: #e24913; }
            .orange-gradient > .block-arrow.top > span        { border-bottom-color: #ffb900; }
            .green-gradient > .block-arrow.top > span        { border-bottom-color: #a7cf34; }
            .blue-gradient > .block-arrow.top > span        { border-bottom-color: #006aac; }

    .block-arrow.right {
        top: 50%;
        left: 100%;
        margin: -6px 0 0 1px;
        border-top-color: transparent;
        border-left-color: inherit;
        //border-left-color:expression(this.parentNode.currentStyle['border-left-color']);
        }
        .block-arrow.right > span {
            margin: -6px -5px -6px -7px;
            border-top-color: transparent;
            border-left-color: #eeeff2;
            }
            .silver-gradient > .block-arrow.right > span        { border-left-color: #e3e4ea; }
            .translucid > .block-arrow.right > span, .notification > .block-arrow.right > span,
            .black-gradient > .block-arrow.right > span            { border-left-color: #1a1a1a; }
            .anthracite-gradient > .block-arrow.right > span    { border-left-color: #4b4b4b; }
            .grey-gradient > .block-arrow.right > span            { border-left-color: #a3a3a3; }
            .red-gradient > .block-arrow.right > span            { border-left-color: #db370c; }
            .orange-gradient > .block-arrow.right > span        { border-left-color: #ffac00; }
            .green-gradient > .block-arrow.right > span            { border-left-color: #97c526; }
            .blue-gradient > .block-arrow.right > span            { border-left-color: #00569c; }
    .block-arrow.left {
        top: 50%;
        left: auto;
        right: 100%;
        margin: -6px 1px 0 0;
        border-top-color: transparent;
        border-right-color: inherit;
        //border-right-color:expression(this.parentNode.currentStyle['border-right-color']);
        }
        .block-arrow.left > span {
            margin: -6px -7px -6px -5px;
            border-top-color: transparent;
            border-right-color: #eeeff2;
            }
            .silver-gradient > .block-arrow.left > span            { border-right-color: #e3e4ea; }
            .translucid > .block-arrow.left > span, .notification > .block-arrow.left > span,
            .black-gradient > .block-arrow.left > span            { border-right-color: #1a1a1a; }
            .anthracite-gradient > .block-arrow.left > span        { border-right-color: #4b4b4b; }
            .grey-gradient > .block-arrow.left > span            { border-right-color: #a3a3a3; }
            .red-gradient > .block-arrow.left > span            { border-right-color: #db370c; }
            .orange-gradient > .block-arrow.left > span            { border-right-color: #ffac00; }
            .green-gradient > .block-arrow.left > span            { border-right-color: #97c526; }
            .blue-gradient > .block-arrow.left > span            { border-right-color: #00569c; }


/********************************************************/
/*                 16. Custom scrollbars                */
/********************************************************/

.custom-scroll {
    overflow: hidden !important;
    }
    .custom-hscrollbar,
    .custom-vscrollbar {
        position: absolute;
        z-index: 999000;
        padding: 0;
        margin: 0;
        border: 0;
        background: url(../img/old-browsers/grey20.png);
        background: rgba(128, 128, 128, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        }
        .custom-hscrollbar {
            height: 8px;
        }
        .custom-vscrollbar {
            width: 8px;
        }
        .custom-hscrollbar > div,
        .custom-vscrollbar > div {
            position: absolute;
            background: url(../img/old-browsers/grey50.png);
            background: rgba(128, 128, 128, 0.5);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
            -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
            -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
            }
            .custom-hscrollbar > div {
                top: 0;
                bottom: 0;
            }
            .custom-vscrollbar > div {
                left: 0;
                right: 0;
            }


/********************************************************/
/*                      18. Loaders                     */
/********************************************************/

.loader {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: url(../img/standard/loaders/loading16.gif) no-repeat center center;
    margin-top: -1px;
    margin-bottom: 1px;
    }
    .input .loader:first-child {
        margin-left: -1px;
    }
    .input .loader:last-child {
        margin-right: -1px;
        }
        /* IE7 */
        .input .loader.last-child {
            margin-right: -1px;
        }
    .loader.waiting {             background-image: url(../img/standard/loaders/waiting16.gif); }
    .loader.working {             background-image: url(../img/standard/loaders/working16.gif); }
    .loader.refreshing {         background-image: url(../img/standard/loaders/refreshing16.gif); }

    .loader.on-dark {                 background-image: url(../img/standard/loaders/loading16_anthracite.gif); }
    .loader.waiting.on-dark {         background-image: url(../img/standard/loaders/waiting16_anthracite.gif); }
    .loader.working.on-dark {         background-image: url(../img/standard/loaders/working16_anthracite.gif); }
    .loader.refreshing.on-dark {     background-image: url(../img/standard/loaders/refreshing16_anthracite.gif); }

    .loader.big {                 background-image: url(../img/standard/loaders/loading32.gif); width: 32px; height: 32px; }
    .loader.big.waiting {         background-image: url(../img/standard/loaders/waiting32.gif); }
    .loader.big.working {         background-image: url(../img/standard/loaders/working32.gif); }
    .loader.big.refreshing {     background-image: url(../img/standard/loaders/refreshing32.gif); }

    .loader.big.on-dark {                 background-image: url(../img/standard/loaders/loading32_anthracite.gif); }
    .loader.big.waiting.on-dark {         background-image: url(../img/standard/loaders/waiting32_anthracite.gif); }
    .loader.big.working.on-dark {         background-image: url(../img/standard/loaders/working32_anthracite.gif); }
    .loader.big.refreshing.on-dark {     background-image: url(../img/standard/loaders/refreshing32_anthracite.gif); }

    .loader.huge {                 background-image: url(../img/standard/loaders/loading64.gif); width: 64px; height: 64px; }
    .loader.huge.waiting {         background-image: url(../img/standard/loaders/waiting64.gif); }
    .loader.huge.working {         background-image: url(../img/standard/loaders/working64.gif); }
    .loader.huge.refreshing {     background-image: url(../img/standard/loaders/refreshing64.gif); }

    .loader.huge.on-dark {                 background-image: url(../img/standard/loaders/loading64_anthracite.gif); }
    .loader.huge.waiting.on-dark {         background-image: url(../img/standard/loaders/waiting64_anthracite.gif); }
    .loader.huge.working.on-dark {         background-image: url(../img/standard/loaders/working64_anthracite.gif); }
    .loader.huge.refreshing.on-dark {     background-image: url(../img/standard/loaders/refreshing64_anthracite.gif); }



/********************************************************/
/*                   21. Notifications                  */
/********************************************************/

#top-notifications,
#bottom-notifications {
    position: absolute;    /* This is for older iOS devices that do not support position: fixed */
    position: fixed;
    z-index: 999400;
    right: 0;
    left: 0;
    text-align: left;
    }
    #top-notifications {
        top: 0;
    }
    #bottom-notifications {
        bottom: 0;
    }
    #top-notifications > ul,
    #bottom-notifications > ul {
        list-style-type: none;
        margin: 0;
    }
    .notification {
        border-width: 1px;
        border-style: solid;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 5px;
        position: relative;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 7px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 7px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 7px rgba(0, 0, 0, 0.5);
        }
        .notification > .close {
            margin: -3px -3px 0 0;
        }
        .notification > a,
        .notification > div {
            display: block;
            text-decoration: none;
            padding: 6px 10px;
            color: inherit;
            margin: 0;
            }
            .notification.no-title > a,
            .notification.no-title > div {
                color: white;
            }
            .notification > a > h3,
            .notification > div > h3 {
                color: white;
                font-size: 18px;
                line-height: 22px;
                margin-top:0;
                margin-bottom: 6px;
            }
            .notification > a > b,
            .notification > div > b,
            .notification > div > a {
                color: white;
            }
            .notification.silver-gradient.no-title > a, .notification.silver-gradient.no-title > div,
            .notification.silver-gradient > a > h3, .notification.silver-gradient > div > h3,
            .notification.white-gradient.no-title > a, .notification.white-gradient.no-title > div,
            .notification.white-gradient > a > h3, .notification.white-gradient > div > h3,
            .notification.silver-gradient > a > b, .notification.silver-gradient > div > b,
            .notification.white-gradient > a > b, .notification.white-gradient > div > b {
                color: #333333;
            }

        .notification-icon {
            float: left;
            margin: 7px 6px 7px 8px;
        }

        .notification > .block-arrow {
            display: none;
        }

        .extra-notifications {
            padding: 2px 6px;
            font-weight: bold;
            -webkit-border-bottom-left-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5);
            margin-bottom: 0;
        }
        .more-notifications {
            padding: 3px 7px;
            cursor: pointer;
        }


/********************************************************/
/*                     22. Tooltips                     */
/********************************************************/

/* Root elements */
#tooltips, #tooltips-over {
    position: absolute;
    top: 0;
    left: 0;
    }
    #tooltips {
        z-index: 999100;
    }
    #tooltips-over {
        z-index: 999500;
    }
    .tooltip {
        position: absolute;
        white-space: nowrap;
        max-width: 300px;
    }

/* Tooltips inserted inside some elements */
.message.inner-tooltip {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 100%;
    text-align: center;
    margin: 0 0 10px 0;
    min-width: 16px;
    max-width: 250px;
    z-index: 89;
    pointer-events: none;
    white-space: nowrap;
    }
    .message.inner-tooltip.right {
        left: 100%;
        top: 50%;
        bottom: auto;
        margin: -15px 0 0 10px;
    }
    .message.inner-tooltip.bottom {
        top: 100%;
        bottom: auto;
        margin: 10px 0 0 0;
    }
    .message.inner-tooltip.left {
        left: auto;
        right: 100%;
        top: 50%;
        bottom: auto;
        margin: -15px 10px 0 0;
    }
    .message.inner-tooltip.right.compact,
    .message.inner-tooltip.left.compact {
        margin-top: -10px;
    }
        

/* nested sortable
------------------------------------------------------------------------- */
#ns-header{
    margin:0px 0px 0px;
    padding:0px;
    height:25px;         
    clear:both;
    display: block;
    position:static;
}

#ns-header div{
    padding: 0px 10px;
    font-weight: bold;
    font-size: 12px;
    color: #555;    
}   

#felismm{
    padding:0px;
    margin:0px;
    list-style: none;
}

.sortable{              
    margin:5px 0px 0px;
}

.sortable ul{
    list-style: none;   
}

.sortable div.row{
    font: 11px Tahoma, sans-serif;
    border: 1px solid #d5d5d5;   
    background: rgb(249,249,249); 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(249,249,249) 0%, rgb(245,245,245) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(249,249,249)), color-stop(100%,rgb(245,245,245))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(249,249,249) 0%,rgb(245,245,245) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(249,249,249) 0%,rgb(245,245,245) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(249,249,249) 0%,rgb(245,245,245) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(249,249,249) 0%,rgb(245,245,245) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-8 */       
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff; 
    margin:0 0 5px;
}

.sortable div.row div{
    border-left: 1px solid #e3e3e3;      
    padding: 7px 10px;  
}

.sortable div.row div.ns-title {        
    border: none;
    font-weight: bold; 
    cursor: move;
}


.sortable div.row div.ns-actions a {
    margin-left: 5px;
}


.ns-helper {
    border: 1px dashed #C6C486;
    background: #FAFAE0;
}     
#ns-footer {
    text-align: right;
    margin-top: 10px;
}     
