@charset "utf-8";
/* Czcionki
###################################################################################################################
###################################################################################################################
*/

@import url("./fonts/sansation/sansation.css");                                         

                                     
#main, #menu{                                      
    font-family: Arial, Helvetica, sans-serif;
}

#menu .navigable{  
    font-family: "Sansation_Regular", sans-serif; 
}

#main header h1{
    font-family: "Sansation_Bold", sans-serif;
    font-weight: normal;
}     