@charset "utf-8";
@import url("../fonts.css");

/* logowanie */

body{
}

#background{
	background:url(../../img/textures/scratches.png) repeat;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.4;
	z-index:-1;
}

#logowanie{
	max-width:458px;
	margin:auto;
	margin-top:6%;
	color:#f9f9fb;
	font-family: "Sansation_Regular";
	font-size:12px;
}

#logowanie #logo{
	position:relative;
	text-align:center;
	margin-bottom:20px;
}

#logowanie #lang{
	position:absolute;
	width:20px;
	top:0px;
	right:0px;
	text-align:center;
}

#logowanie #logowanieBox{
	background: rgb(24,105,180); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE4NjliNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDU1YTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(24,105,180) 0%, rgb(4,85,160) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(24,105,180)), color-stop(100%,rgb(4,85,160))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(24,105,180) 0%,rgb(4,85,160) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(24,105,180) 0%,rgb(4,85,160) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(24,105,180) 0%,rgb(4,85,160) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(24,105,180) 0%,rgb(4,85,160) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1869b4', endColorstr='#0455a0',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 3px 8px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 3px 8px rgba(50, 50, 50, 0.5);
	padding:20px 5px;
}

#logowanie #logowanieBox h1{
	background:url(../../img/lay/user.png) no-repeat left top;
	background-size:40px;
	display:block;
	font-family: "Sansation_Regular";
	font-size: 14px;
	margin-top: 0px;
	margin-left: 22px;
	color: #f9f9fb;
	padding-top:4px;
	padding-left:45px;
	margin-right: 22px;
	padding-bottom: 25px;
	border-bottom: 1px solid #1e70bb;
    margin-bottom: 0;
}

#logowanie #logowanieBox h1 span{		
	background: -webkit-linear-gradient(#f9f9fb, #e6e9ed);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#logowanie #logowanieBox #form{
    padding:5px 20px;
}

#logowanie #logowanieBox input::-webkit-input-placeholder{color:#c0daf3;}
#logowanie #logowanieBox input:-moz-placeholder{color:#c0daf3;}
#logowanie #logowanieBox input:-ms-input-placeholder{color:#c0daf3;}

#logowanie #logowanieBox .input-group .input-group-addon{
	background: rgb(32,117,196); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNzVjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjkyZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(32,117,196) 0%, rgb(75,146,212) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(32,117,196)), color-stop(100%,rgb(75,146,212))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(32,117,196) 0%,rgb(75,146,212) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(32,117,196) 0%,rgb(75,146,212) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(32,117,196) 0%,rgb(75,146,212) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(32,117,196) 0%,rgb(75,146,212) 100%); /* W3C */
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius:4px 0px 0px 4px;
    -webkit-border-radius:4px 0px 0px 4px;
    -moz-border-radius:4px 0px 0px 4px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
	line-height:16px;
}

#logowanie #logowanieBox .logowanieInput{
    position:relative;
    font-size:11px; 
    font-family:"Sansation_Italic";
    font-style:italic;
    font-weight:500;
	background: rgb(32,117,196); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNzVjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjkyZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(32,117,196) 0%, rgb(75,146,212) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(32,117,196)), color-stop(100%,rgb(75,146,212))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(32,117,196) 0%,rgb(75,146,212) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(32,117,196) 0%,rgb(75,146,212) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(32,117,196) 0%,rgb(75,146,212) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(32,117,196) 0%,rgb(75,146,212) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2075c4', endColorstr='#4b92d4',GradientType=0 ); /* IE6-8 */
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius:0px 4px 4px 0px;
    -webkit-border-radius:0px 4px 4px 0px;
    -moz-border-radius:0px 4px 4px 0px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
    color:#c0daf3;
    z-index:20;
}

#logowanieBox .btn-group .dropdown-menu{
	font-size:12px;
    color:#4b4b4b;
}

#logowanieBox .btn-group .btn{
	font-size:12px;
	font-family: "Sansation_Regular";
}

#logowanie #logowanieBox #logowanieCheckbox .btn #logowanieRemember{
	background:url(../../img/icons/woocons/checkbox-empty.png) no-repeat;
	background-size:100%;
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:5px;
	vertical-align: middle;
}

#logowanie #logowanieBox #logowanieCheckbox .btn.active #logowanieRemember{
	background:url(../../img/icons/woocons/checkbox-full.png) no-repeat;
	background-size:100%;
}

#logowanieBox #logowanieBtn{
    color:#4b4b4b;
}

.m-t-10{margin-top:20px;}
                                 