@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "Sansation_Light";
    src: url("Sansation_Light.ttf");
}

@font-face {
    font-family: "Sansation_Light_Italic";
    src: url("Sansation_Light_Italic.ttf");
}

@font-face {
    font-family: "Sansation_Regular";
    src: url("Sansation_Regular.ttf");
}

@font-face {
    font-family: "Sansation_Bold";
    src: url("Sansation_Bold.ttf");
}

@font-face {
    font-family: "Sansation_Bold_Italic";
    src: url("Sansation_Bold_Italic.ttf");
}