@charset "utf-8";
/* CSS Document */
[class^="woocons-"],
[class*=" woocons-"] {
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;  
    width: 16px;
    height: 16px;
    line-height: 16px;     
}

[class^="woocons-size16"],
[class*=" woocons-size16"] {  
    width: 16px;
    height: 16px;
    line-height: 16px;             
}

[class^="woocons-size24"],
[class*=" woocons-size24"] {    
	width: 24px;
	height: 24px;
	line-height: 24px;             
}

[class^="woocons-size32"],
[class*=" woocons-size32"] {    
	width: 32px;
	height: 32px;
	line-height: 32px;             
}

.woocons-arrow-down{background-image:url("../../img/icons/woocons/arrow-down.png");}
.woocons-arrow-left{background-image:url("../../img/icons/woocons/arrow-left.png");}
.woocons-arrow-right{background-image:url("../../img/icons/woocons/arrow-right.png");}
.woocons-arrow-up{background-image:url("../../img/icons/woocons/arrow-up.png");}
.woocons-black-board-2{background-image:url("../../img/icons/woocons/black-board-2.png");}
.woocons-black-board{background-image:url("../../img/icons/woocons/black-board.png");}
.woocons-bluetooth{background-image:url("../../img/icons/woocons/bluetooth.png");}
.woocons-bookmarks-2{background-image:url("../../img/icons/woocons/bookmarks-2.png");}
.woocons-bookmarks{background-image:url("../../img/icons/woocons/bookmarks.png");}
.woocons-box-add{background-image:url("../../img/icons/woocons/box-add.png");}
.woocons-box-down{background-image:url("../../img/icons/woocons/box-down.png");}
.woocons-box-remove{background-image:url("../../img/icons/woocons/box-remove.png");}
.woocons-box-up{background-image:url("../../img/icons/woocons/box-up.png");}
.woocons-box{background-image:url("../../img/icons/woocons/box.png");}
.woocons-briefcase{background-image:url("../../img/icons/woocons/briefcase.png");}
.woocons-bug{background-image:url("../../img/icons/woocons/bug.png");}
.woocons-button-add{background-image:url("../../img/icons/woocons/button-add.png");}
.woocons-button-burn{background-image:url("../../img/icons/woocons/button-burn.png");}
.woocons-button-check{background-image:url("../../img/icons/woocons/button-check.png");}
.woocons-button-color-circle{background-image:url("../../img/icons/woocons/button-color-circle.png");}
.woocons-button-eject{background-image:url("../../img/icons/woocons/button-eject.png");}
.woocons-button-help{background-image:url("../../img/icons/woocons/button-help.png");}
.woocons-button-info{background-image:url("../../img/icons/woocons/button-info.png");}
.woocons-button-load{background-image:url("../../img/icons/woocons/button-load.png");}
.woocons-button-next{background-image:url("../../img/icons/woocons/button-next.png");}
.woocons-button-pause{background-image:url("../../img/icons/woocons/button-pause.png");}
.woocons-button-play{background-image:url("../../img/icons/woocons/button-play.png");}
.woocons-button-previous{background-image:url("../../img/icons/woocons/button-previous.png");}
.woocons-button-record-active{background-image:url("../../img/icons/woocons/button-record-active.png");}
.woocons-button-record{background-image:url("../../img/icons/woocons/button-record.png");}
.woocons-button-remove{background-image:url("../../img/icons/woocons/button-remove.png");}
.woocons-button-rss{background-image:url("../../img/icons/woocons/button-rss.png");}
.woocons-button-stop{background-image:url("../../img/icons/woocons/button-stop.png");}
.woocons-button-white-add{background-image:url("../../img/icons/woocons/button-white-add.png");}
.woocons-button-white-check{background-image:url("../../img/icons/woocons/button-white-check.png");}
.woocons-button-white-help{background-image:url("../../img/icons/woocons/button-white-help.png");}
.woocons-button-white-info{background-image:url("../../img/icons/woocons/button-white-info.png");}
.woocons-button-white-load{background-image:url("../../img/icons/woocons/button-white-load.png");}
.woocons-button-white-remove{background-image:url("../../img/icons/woocons/button-white-remove.png");}
.woocons-button-white-rss{background-image:url("../../img/icons/woocons/button-white-rss.png");}
.woocons-button-white-stop{background-image:url("../../img/icons/woocons/button-white-stop.png");}
.woocons-calendar-2{background-image:url("../../img/icons/woocons/calendar-2.png");}
.woocons-calendar{background-image:url("../../img/icons/woocons/calendar.png");}
.woocons-camera{background-image:url("../../img/icons/woocons/camera.png");}
.woocons-chart-bar{background-image:url("../../img/icons/woocons/chart-bar.png");}
.woocons-chart-pie{background-image:url("../../img/icons/woocons/chart-pie.png");}
.woocons-chart{background-image:url("../../img/icons/woocons/chart.png");}
.woocons-checkbox-empty{background-image:url("../../img/icons/woocons/checkbox-empty.png");}
.woocons-checkbox-full{background-image:url("../../img/icons/woocons/checkbox-full.png");}
.woocons-clock-alarm{background-image:url("../../img/icons/woocons/clock-alarm.png");}
.woocons-clock{background-image:url("../../img/icons/woocons/clock.png");}
.woocons-cmd-key{background-image:url("../../img/icons/woocons/cmd-key.png");}
.woocons-cocktail{background-image:url("../../img/icons/woocons/cocktail.png");}
.woocons-cog{background-image:url("../../img/icons/woocons/cog.png");}
.woocons-comment-add{background-image:url("../../img/icons/woocons/comment-add.png");}
.woocons-comment-edit{background-image:url("../../img/icons/woocons/comment-edit.png");}
.woocons-comment-remove{background-image:url("../../img/icons/woocons/comment-remove.png");}
.woocons-comment{background-image:url("../../img/icons/woocons/comment.png");}
.woocons-computer-off{background-image:url("../../img/icons/woocons/computer-off.png");}
.woocons-computer-on{background-image:url("../../img/icons/woocons/computer-on.png");}
.woocons-contact{background-image:url("../../img/icons/woocons/contact.png");}
.woocons-contacts-add{background-image:url("../../img/icons/woocons/contacts-add.png");}
.woocons-contacts-remove{background-image:url("../../img/icons/woocons/contacts-remove.png");}
.woocons-contacts-sync{background-image:url("../../img/icons/woocons/contacts-sync.png");}
.woocons-contacts{background-image:url("../../img/icons/woocons/contacts.png");}
.woocons-credit-card-paypal{background-image:url("../../img/icons/woocons/credit-card-paypal.png");}
.woocons-credit-card{background-image:url("../../img/icons/woocons/credit-card.png");}
.woocons-dashboard{background-image:url("../../img/icons/woocons/dashboard.png");}
.woocons-database-add{background-image:url("../../img/icons/woocons/database-add.png");}
.woocons-database-remove{background-image:url("../../img/icons/woocons/database-remove.png");}
.woocons-database{background-image:url("../../img/icons/woocons/database.png");}
.woocons-desktop{background-image:url("../../img/icons/woocons/desktop.png");}
.woocons-disc-blu-ray{background-image:url("../../img/icons/woocons/disc-blu-ray.png");}
.woocons-disc-dvd{background-image:url("../../img/icons/woocons/disc-dvd.png");}
.woocons-document-1-add{background-image:url("../../img/icons/woocons/document-1-add.png");}
.woocons-document-1-edit{background-image:url("../../img/icons/woocons/document-1-edit.png");}
.woocons-document-1-remove{background-image:url("../../img/icons/woocons/document-1-remove.png");}
.woocons-document-1{background-image:url("../../img/icons/woocons/document-1.png");}
.woocons-document-2-add{background-image:url("../../img/icons/woocons/document-2-add.png");}
.woocons-document-2-edit{background-image:url("../../img/icons/woocons/document-2-edit.png");}
.woocons-document-2-remove{background-image:url("../../img/icons/woocons/document-2-remove.png");}
.woocons-document-2{background-image:url("../../img/icons/woocons/document-2.png");}
.woocons-document-blueprint{background-image:url("../../img/icons/woocons/document-blueprint.png");}
.woocons-document-checklist{background-image:url("../../img/icons/woocons/document-checklist.png");}
.woocons-drawer-closed{background-image:url("../../img/icons/woocons/drawer-closed.png");}
.woocons-drawer-open{background-image:url("../../img/icons/woocons/drawer-open.png");}
.woocons-file-add{background-image:url("../../img/icons/woocons/file-add.png");}
.woocons-file-receive{background-image:url("../../img/icons/woocons/file-receive.png");}
.woocons-file-remove{background-image:url("../../img/icons/woocons/file-remove.png");}
.woocons-file-send{background-image:url("../../img/icons/woocons/file-send.png");}
.woocons-file{background-image:url("../../img/icons/woocons/file.png");}
.woocons-finder{background-image:url("../../img/icons/woocons/finder.png");}
.woocons-folder-add{background-image:url("../../img/icons/woocons/folder-add.png");}
.woocons-folder-remove{background-image:url("../../img/icons/woocons/folder-remove.png");}
.woocons-folder-smart{background-image:url("../../img/icons/woocons/folder-smart.png");}
.woocons-folder-sync{background-image:url("../../img/icons/woocons/folder-sync.png");}
.woocons-folder{background-image:url("../../img/icons/woocons/folder.png");}
.woocons-fonts{background-image:url("../../img/icons/woocons/fonts.png");}
.woocons-globe-active{background-image:url("../../img/icons/woocons/globe-active.png");}
.woocons-globe-inactive{background-image:url("../../img/icons/woocons/globe-inactive.png");}
.woocons-glyph-add{background-image:url("../../img/icons/woocons/glyph-add.png");}
.woocons-glyph-check{background-image:url("../../img/icons/woocons/glyph-check.png");}
.woocons-glyph-remove{background-image:url("../../img/icons/woocons/glyph-remove.png");}
.woocons-home{background-image:url("../../img/icons/woocons/home.png");}
.woocons-im-2{background-image:url("../../img/icons/woocons/im-2.png");}
.woocons-im{background-image:url("../../img/icons/woocons/im.png");}
.woocons-ipad{background-image:url("../../img/icons/woocons/ipad.png");}
.woocons-iphone{background-image:url("../../img/icons/woocons/iphone.png");}
.woocons-light-bulb-off{background-image:url("../../img/icons/woocons/light-bulb-off.png");}
.woocons-light-bulb-on{background-image:url("../../img/icons/woocons/light-bulb-on.png");}
.woocons-link{background-image:url("../../img/icons/woocons/link.png");}
.woocons-lock-closed{background-image:url("../../img/icons/woocons/lock-closed.png");}
.woocons-lock-open{background-image:url("../../img/icons/woocons/lock-open.png");}
.woocons-love{background-image:url("../../img/icons/woocons/love.png");}
.woocons-magic-wand{background-image:url("../../img/icons/woocons/magic-wand.png");}
.woocons-mail-add{background-image:url("../../img/icons/woocons/mail-add.png");}
.woocons-mail-edit{background-image:url("../../img/icons/woocons/mail-edit.png");}
.woocons-mail-forward{background-image:url("../../img/icons/woocons/mail-forward.png");}
.woocons-mail-open-1{background-image:url("../../img/icons/woocons/mail-open-1.png");}
.woocons-mail-open-2{background-image:url("../../img/icons/woocons/mail-open-2.png");}
.woocons-mail-receive{background-image:url("../../img/icons/woocons/mail-receive.png");}
.woocons-mail-remove{background-image:url("../../img/icons/woocons/mail-remove.png");}
.woocons-mail-reply{background-image:url("../../img/icons/woocons/mail-reply.png");}
.woocons-mail-send{background-image:url("../../img/icons/woocons/mail-send.png");}
.woocons-mail{background-image:url("../../img/icons/woocons/mail.png");}
.woocons-maps{background-image:url("../../img/icons/woocons/maps.png");}
.woocons-mobile-phone{background-image:url("../../img/icons/woocons/mobile-phone.png");}
.woocons-money-bundle{background-image:url("../../img/icons/woocons/money-bundle.png");}
.woocons-money{background-image:url("../../img/icons/woocons/money.png");}
.woocons-movies{background-image:url("../../img/icons/woocons/movies.png");}
.woocons-music-blue{background-image:url("../../img/icons/woocons/music-blue.png");}
.woocons-music-green{background-image:url("../../img/icons/woocons/music-green.png");}
.woocons-music-red{background-image:url("../../img/icons/woocons/music-red.png");}
.woocons-news-add{background-image:url("../../img/icons/woocons/news-add.png");}
.woocons-news-remove{background-image:url("../../img/icons/woocons/news-remove.png");}
.woocons-news{background-image:url("../../img/icons/woocons/news.png");}
.woocons-note-pinned{background-image:url("../../img/icons/woocons/note-pinned.png");}
.woocons-note-sticky{background-image:url("../../img/icons/woocons/note-sticky.png");}
.woocons-pencil{background-image:url("../../img/icons/woocons/pencil.png");}
.woocons-pictures{background-image:url("../../img/icons/woocons/pictures.png");}
.woocons-printer{background-image:url("../../img/icons/woocons/printer.png");}
.woocons-private{background-image:url("../../img/icons/woocons/private.png");}
.woocons-ruler{background-image:url("../../img/icons/woocons/ruler.png");}
.woocons-search-add{background-image:url("../../img/icons/woocons/search-add.png");}
.woocons-search-remove{background-image:url("../../img/icons/woocons/search-remove.png");}
.woocons-search{background-image:url("../../img/icons/woocons/search.png");}
.woocons-sign-public{background-image:url("../../img/icons/woocons/sign-public.png");}
.woocons-sign-warning{background-image:url("../../img/icons/woocons/sign-warning.png");}
.woocons-smiley-happy{background-image:url("../../img/icons/woocons/smiley-happy.png");}
.woocons-smiley-sad{background-image:url("../../img/icons/woocons/smiley-sad.png");}
.woocons-speaker{background-image:url("../../img/icons/woocons/speaker.png");}
.woocons-star-off{background-image:url("../../img/icons/woocons/star-off.png");}
.woocons-star-on{background-image:url("../../img/icons/woocons/star-on.png");}
.woocons-stop-2{background-image:url("../../img/icons/woocons/stop-2.png");}
.woocons-stop{background-image:url("../../img/icons/woocons/stop.png");}
.woocons-system-activity-monitor{background-image:url("../../img/icons/woocons/system-activity-monitor.png");}
.woocons-system-equalizer{background-image:url("../../img/icons/woocons/system-equalizer.png");}
.woocons-system-preferences{background-image:url("../../img/icons/woocons/system-preferences.png");}
.woocons-system-terminal{background-image:url("../../img/icons/woocons/system-terminal.png");}
.woocons-trash-empty{background-image:url("../../img/icons/woocons/trash-empty.png");}
.woocons-trash-full{background-image:url("../../img/icons/woocons/trash-full.png");}
.woocons-trash-shredder{background-image:url("../../img/icons/woocons/trash-shredder.png");}
.woocons-tv-off{background-image:url("../../img/icons/woocons/tv-off.png");}
.woocons-tv-on{background-image:url("../../img/icons/woocons/tv-on.png");}
.woocons-user{background-image:url("../../img/icons/woocons/user.png");}
.woocons-users{background-image:url("../../img/icons/woocons/users.png");}
.woocons-wifi-singal{background-image:url("../../img/icons/woocons/wifi-singal.png");}
.woocons-window-move{background-image:url("../../img/icons/woocons/window-move.png");}
.woocons-window-resize{background-image:url("../../img/icons/woocons/window-resize.png");}
.woocons-window{background-image:url("../../img/icons/woocons/window.png");}