@charset "utf-8";
/* CSS Document */
@import url("fonts.css");
@import url("icons/icons-menu.css");
@import url("icons/coquette16.css");
@import url("icons/coquette24.css");
@import url("icons/coquette32.css");
@import url("icons/coquette48.css"); 
@import url("icons/bluebits32.css");

#background{
	background:url(../img/textures/scratches.png) repeat;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.4;
	z-index:-1;
}

/* Logo
---------------------------------------------------------------------------- */	
#logo{
	background: rgb(255,255,255); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGYxZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(237,241,246) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(237,241,246))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(237,241,246) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(237,241,246) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(237,241,246) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(237,241,246) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf1f6',GradientType=0 ); /* IE6-8 */
	padding:18px 16px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.12);
	text-align:center;
}

/* Access
---------------------------------------------------------------------------- */	
#access{
	background: rgb(230,233,237); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTllZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(230,233,237) 0%, rgb(249,249,251) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(230,233,237)), color-stop(100%,rgb(249,249,251))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(230,233,237) 0%,rgb(249,249,251) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(230,233,237) 0%,rgb(249,249,251) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(230,233,237) 0%,rgb(249,249,251) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(230,233,237) 0%,rgb(249,249,251) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e9ed', endColorstr='#f9f9fb',GradientType=0 ); /* IE6-8 */
	border-bottom:1px solid #eaeaec;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(255, 255, 255, 0.12), 0 0px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(255, 255, 255, 0.12), 0 0px 0 rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(255, 255, 255, 0.12), 0 0px 0 rgba(0, 0, 0, 0.12);
	height:40px;
	width: 100%;
	margin: 0;
    padding-left:0px;
	text-align: center;
	list-style-type: none;
}
#access > li {
	float: left;
	width: 20%;
	height: 42px;
	font-size: 26px;
	line-height: 42px;
	position: relative;
	color: #333;
	color: rgba(0, 0, 0, 0.5);
}
#access > li.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}
#access > li > img {
	vertical-align: middle;
}
#access > li > span {
	*vertical-align: middle;
}
#access > li > a {
	display: block;
	height: 34px;
	padding: 4px 0;
	line-height: 34px;
	color: #333;
	color: rgba(0, 0, 0, 0.55);
	*color: #333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
#access > li > a:after {
	position: absolute;
	content: ' ';
	left: 4px;
	right: 4px;
	bottom: 4px;
	height: 1px;
	background: #3399cc;
	border-bottom: 1px solid #66ccff;
	-webkit-box-shadow: 0 0 5px 2px rgb(51, 153, 204), 0 -2px 10px rgba(51, 153, 204, 0.75);
	-moz-box-shadow: 0 0 5px 2px rgb(51, 153, 204), 0 -2px 10px rgba(51, 153, 204, 0.75);
	box-shadow: 0 0 5px 2px rgb(51, 153, 204), 0 -2px 10px rgba(51, 153, 204, 0.75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}
.ie8 #access > li > a:after {
	display: none;
}
#access > li > a:hover {
	padding-top: 0;
	padding-bottom: 8px;
	color: #222;
}
#access > li > a:hover:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}
.ie8 #access > li > a:hover:after {
	display: block;
}
.no-generatedcontent #access > li > a:hover {
	padding-bottom: 4px;
	border-bottom: 4px solid #66ccff;
}
#access > li.dropdown .caret{margin-top:7px;}
#access > li > .dropdown-menu{ font-size: 12px; text-align: left;}


/* Profile
---------------------------------------------------------------------------- */	
#profile{
	background: rgb(0,0,0); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZDRkNGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(0,0,0) 0%, rgb(77,77,77) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,0,0)), color-stop(100%,rgb(77,77,77))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(0,0,0) 0%,rgb(77,77,77) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(0,0,0) 0%,rgb(77,77,77) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(0,0,0) 0%,rgb(77,77,77) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(0,0,0) 0%,rgb(77,77,77) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-8 */
	color: #b2b2b2;
	padding: 15px 10px;
	font-size: 14px;
	line-height: 14px;
}

#profile .thumbnail{
    margin-bottom: 0;
    background: none;
    border:none;
    padding-left:15px;
}

#profile .name{
	display: block;
	font-size: 16px;
	line-height: 22px;
	margin-top:2px;
	margin-bottom: 2px;
	color: #fff;
}

#profile .profileUprawnienia{
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#1be2df;
}


/* breadcrum
---------------------------------------------------------------------------- */	
#main header .breadcrumb{background:none;}
#main header .breadcrumb > li + li:before {
padding: 0 5px;  
content: none;}


/* footer
---------------------------------------------------------------------------- */	
.footer{
	padding: 6px 10px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
	font-size:12px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.37)), to(rgba(255, 255, 255, 0)), color-stop(0.04, rgba(255, 255, 255, 0.31)), color-stop(0.44, rgba(255, 255, 255, 0.15)), color-stop(0.49, rgba(255, 255, 255, 0.11)), color-stop(0.5, rgba(255, 255, 255, 0.02)));
	background: -webkit-linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background: -moz-linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background: -ms-linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background: -o-linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background: linear-gradient( top, rgba(255,255,255,0.37), rgba(255,255,255,0.31) 4%, rgba(255,255,255,0.15) 44%, rgba(255,255,255,0.11) 49%, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0));
	background-color: #575d62;
}

.footer.black{
	background: #000000;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(black), color-stop(0.04, #4f4f4f), color-stop(0.44, #262626), color-stop(0.5, #1c1c1c), color-stop(0.5, #050505));
	background: -webkit-linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
	background: -moz-linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
	background: -ms-linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
	background: -o-linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
	background: linear-gradient(top, #5e5e5e, #4f4f4f 4%, #262626 44%, #1c1c1c 50%, #050505 50%, black);
}


/* ul, ol
---------------------------------------------------------------------------- */	
.unstyled-list{
	margin:0px;
	padding:0px;
	list-style:none;
}


/* Main
---------------------------------------------------------------------------- */	    

#mainContent{
	position:static;
    padding: 0 20px;
}

#main header h1{                       
	color:#373b3f;
	text-transform: uppercase; 
	line-height: 20px;
	padding: 10px 10px 10px;
	font-size: 18px;
	margin: 0px;
}


/* helps
------------------------------------------------------------------------ */
.m-r-10{margin-right:10px;}



/********************************************************/
/*         10. List arrows, count & sort handle         */
/********************************************************/

/* Arrows */
.with-left-arrow,
.with-right-arrow,
.tabs > li > a {
    position: relative;
    }
    .with-left-arrow:after,
    .with-right-arrow:after,
    .tabs > li > a:after {
        display: block;
        content: '';
        width: 15px;
        height: 20px;
        position: absolute;
        top: 50%;
        margin: -11px 0 0 0;
        padding: 0;
        border: 0;
        }
        /* IE7 */
        .with-arrow-after {
            display: block;
            width: 15px !important;
            height: 20px !important;
            position: absolute !important;
            top: 50%;
            margin: -11px 0 0 0 !important;
            padding: 0 !important;
            border: 0 !important;
        }
        .with-left-arrow:after {
            left: 7px;
            background: url(../img/standard/sprites.png) no-repeat -209px 0;
            }
            /* IE7 */
            .with-left-arrow > .with-arrow-after {
                left: 7px;
                background: url(../img/standard/sprites.png) no-repeat -209px 0;
            }
        .with-right-arrow:after,
        .tabs > li > a:after {
            right: 7px;
            background: url(../img/standard/sprites.png) no-repeat -224px -19px;
            }
            /* IE7 */
            .with-right-arrow > .with-arrow-after,
            .tabs > li > a > .with-arrow-after {
                right: 7px;
                background: url(../img/standard/sprites.png) no-repeat -224px -19px;
            }

        /* Variations */
        .with-left-arrow.grey-arrow:after    { background-position: -209px -20px; }
        .with-left-arrow.black-arrow:after    { background-position: -209px -40px; }
        .with-right-arrow.grey-arrow:after,
        .tabs > li > a:after                { background-position: -224px -20px; }
        .with-right-arrow.black-arrow:after    { background-position: -224px -40px; }
            /* IE7 */
            .with-left-arrow.grey-arrow > .with-arrow-after        { background-position: -209px -20px; }
            .with-left-arrow.black-arrow > .with-arrow-after    { background-position: -209px -40px; }
            .with-right-arrow.grey-arrow > .with-arrow-after,
            .tabs > li > a > .with-arrow-after                    { background-position: -224px -20px; }
            .with-right-arrow.black-arrow > .with-arrow-after    { background-position: -224px -40px; }

        /* Arrow up */
        .arrow-up:after    {
            background-position: -239px 0;
            width: 20px;
            height: 15px;
            margin: -8px -2px 0 -2px;
            }
            .arrow-up.grey-arrow:after    { background-position: -239px -15px; }
            .arrow-up.black-arrow:after    { background-position: -239px -30px; }
            /* IE7 */
            .arrow-up > .with-arrow-after    {
                background-position: -239px 0;
                width: 20px !important;
                height: 15px !important;
                margin: -8px -2px 0 -2px !important;
                }
                .arrow-up.grey-arrow > .with-arrow-after    { background-position: -239px -15px; }
                .arrow-up.black-arrow > .with-arrow-after    { background-position: -239px -30px; }

        /* Arrow down */
        .arrow-down:after    {
            background-position: -259px 0;
            width: 20px;
            height: 15px;
            margin: -8px -2px 0 -2px;
            }
            .arrow-down.grey-arrow:after    { background-position: -259px -15px; }
            .arrow-down.black-arrow:after    { background-position: -259px -30px; }
            /* IE7 */
            .arrow-down > .with-arrow-after    {
                background-position: -259px 0;
                width: 20px !important;
                height: 15px !important;
                margin: -8px -2px 0 -2px !important;
                }
                .arrow-down.grey-arrow > .with-arrow-after    { background-position: -259px -15px; }
                .arrow-down.black-arrow > .with-arrow-after    { background-position: -259px -30px; }

/* Count */
.list-count {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
    padding: 1px 6px;
    margin: -9px 0;
    min-width: 11px;
    text-align: center;
    background: url(../img/old-browsers/grey20.png);
    background: rgba(128, 128, 128, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    }
    .with-right-arrow > .list-count, .with-right-arrow > a > .list-count, .with-right-arrow > span > .list-count,
    .tabs > li > .list-count, .tabs > li > a > .list-count, .tabs > li > span > .list-count {
        right: 30px;
    }
    .no-boxshadow .list-count {
        padding: 0 6px;
        border: 1px solid white;
    }

/* Sort handle */
.list-sort {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    width: 11px;
    height: 8px;
    background: url(../img/standard/sprites.png) no-repeat -154px 0;
    cursor: move;
}


/********************************************************/
/*                   11. Block arrows                   */
/********************************************************/

.block-arrow {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 1px 0 0 -6px;
    border: 6px solid transparent;
    border-top-color: inherit;
    //border-top-color:expression(this.parentNode.currentStyle['border-top-color']);
    }
    .block-arrow > span {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        margin: -7px -6px -5px -6px;
        border: 6px solid transparent;
        border-top-color: #e4e7eb;
        }
        .silver-gradient > .block-arrow > span            { border-top-color: #d6dadf; }
        .translucid > .block-arrow > span, .notification > .block-arrow > span,
        .black-gradient > .block-arrow > span            { border-top-color: #000000; }
        .anthracite-gradient > .block-arrow > span        { border-top-color: #404040; }
        .grey-gradient > .block-arrow > span            { border-top-color: #939393; }
        .red-gradient > .block-arrow > span                { border-top-color: #d52607; }
        .orange-gradient > .block-arrow > span            { border-top-color: #ff9e00; }
        .green-gradient > .block-arrow > span            { border-top-color: #87ba17; }
        .blue-gradient > .block-arrow > span            { border-top-color: #00438d; }
    .block-arrow.top {
        top: auto;
        left: 50%;
        bottom: 100%;
        margin: 0 0 1px -6px;
        border-top-color: transparent;
        border-bottom-color: inherit;
        //border-bottom-color:expression(this.parentNode.currentStyle['border-bottom-color']);
        }
        .block-arrow.top > span {
            margin: -5px -6px -7px -6px;
            border-top-color: transparent;
            border-bottom-color: #f7f7fa;
            }
            .silver-gradient > .block-arrow.top > span        { border-bottom-color: #efeff4; }
            .translucid > .block-arrow.top > span, .notification > .block-arrow.top > span,
            .black-gradient > .block-arrow.top > span        { border-bottom-color: #333333; }
            .anthracite-gradient > .block-arrow.top > span    { border-bottom-color: #565656; }
            .grey-gradient > .block-arrow.top > span        { border-bottom-color: #b3b3b3; }
            .red-gradient > .block-arrow.top > span            { border-bottom-color: #e24913; }
            .orange-gradient > .block-arrow.top > span        { border-bottom-color: #ffb900; }
            .green-gradient > .block-arrow.top > span        { border-bottom-color: #a7cf34; }
            .blue-gradient > .block-arrow.top > span        { border-bottom-color: #006aac; }

    .block-arrow.right {
        top: 50%;
        left: 100%;
        margin: -6px 0 0 1px;
        border-top-color: transparent;
        border-left-color: inherit;
        //border-left-color:expression(this.parentNode.currentStyle['border-left-color']);
        }
        .block-arrow.right > span {
            margin: -6px -5px -6px -7px;
            border-top-color: transparent;
            border-left-color: #eeeff2;
            }
            .silver-gradient > .block-arrow.right > span        { border-left-color: #e3e4ea; }
            .translucid > .block-arrow.right > span, .notification > .block-arrow.right > span,
            .black-gradient > .block-arrow.right > span            { border-left-color: #1a1a1a; }
            .anthracite-gradient > .block-arrow.right > span    { border-left-color: #4b4b4b; }
            .grey-gradient > .block-arrow.right > span            { border-left-color: #a3a3a3; }
            .red-gradient > .block-arrow.right > span            { border-left-color: #db370c; }
            .orange-gradient > .block-arrow.right > span        { border-left-color: #ffac00; }
            .green-gradient > .block-arrow.right > span            { border-left-color: #97c526; }
            .blue-gradient > .block-arrow.right > span            { border-left-color: #00569c; }
    .block-arrow.left {
        top: 50%;
        left: auto;
        right: 100%;
        margin: -6px 1px 0 0;
        border-top-color: transparent;
        border-right-color: inherit;
        //border-right-color:expression(this.parentNode.currentStyle['border-right-color']);
        }
        .block-arrow.left > span {
            margin: -6px -7px -6px -5px;
            border-top-color: transparent;
            border-right-color: #eeeff2;
            }
            .silver-gradient > .block-arrow.left > span            { border-right-color: #e3e4ea; }
            .translucid > .block-arrow.left > span, .notification > .block-arrow.left > span,
            .black-gradient > .block-arrow.left > span            { border-right-color: #1a1a1a; }
            .anthracite-gradient > .block-arrow.left > span        { border-right-color: #4b4b4b; }
            .grey-gradient > .block-arrow.left > span            { border-right-color: #a3a3a3; }
            .red-gradient > .block-arrow.left > span            { border-right-color: #db370c; }
            .orange-gradient > .block-arrow.left > span            { border-right-color: #ffac00; }
            .green-gradient > .block-arrow.left > span            { border-right-color: #97c526; }
            .blue-gradient > .block-arrow.left > span            { border-right-color: #00569c; }
                         
                        
/********************************************************/
/*                       13. Icons                      */
/********************************************************/

@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/entypo/entypo-webfont.eot');
    src: url('../fonts/entypo/entypo-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo/entypo-webfont.woff') format('woff'),
         url('../fonts/entypo/entypo-webfont.ttf') format('truetype'),
         url('../fonts/entypo/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon1-"]:before, [class*=" icon1-"]:before {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    font-family: 'EntypoRegular';
    font-size: 2em;
    text-transform: none !important;
    line-height: 1em;
    margin: -0.5em 0.115em -0.5em -0.077em;
    }
    .button.icon:before, .button > .icon:before,
    .button-icon.icon:before, .button-icon > .icon:before {
        font-size: 2.3em;
        margin-top: -0.65em;
        margin-bottom: -0.65em;
    }

    /* Sizes */
    .icon1-size2:before {
        font-size: 3.5em;
        margin-top: -1.25em;
        margin-bottom: -1.25em;
        vertical-align: middle;
    }
    .icon1-size3:before {
        font-size: 4.5em;
        margin-top: -1.75em;
        margin-bottom: -1.75em;
        vertical-align: middle;
    }
    .icon1-size4:before {
        font-size: 7em;
        margin-top: -3em;
        margin-bottom: -3em;
        vertical-align: middle;
    }
    .icon1-size5:before {
        font-size: 10em;
        margin-top: -4.5em;
        margin-bottom: -4.5em;
        vertical-align: middle;
    }

    /* IE9 and 10 go crazy with relative font-sizes */
    :root .icon1-size2:before,
    :root .icon1-size3:before,
    :root .icon1-size4:before,
    :root .icon1-size5:before {
        font-size: 0.25em \0/IE9; /* Ugly hack, but this is the only solution to target IE10 */
    }

    /* Empty icons */
    [class^="icon1-"]:empty:before,
    [class*=" icon1-"]:empty:before {
        margin-right: -0.077em;
        margin-left: -0.077em;
    }

    /* IE7 */
    .font-icon {
        font-weight: normal;
        font-style: normal;
        font-family: 'EntypoRegular';
        font-size: 2em;
        margin: -0.5em 0.115em -0.5em -0.077em;
        vertical-align: middle;
        }
        .font-icon.empty {
            margin-right: -2px;
            margin-left: -2px;
        }
        /* Sizes */
        .icon1-size2 > .font-icon {
            font-size: 3.5em;
            margin-top: -1.25em;
            margin-bottom: -1.25em;
            vertical-align: middle;
        }
        .icon1-size3 > .font-icon {
            font-size: 4.5em;
            margin-top: -1.75em;
            margin-bottom: -1.75em;
            vertical-align: middle;
        }
        .icon1-size4 > .font-icon {
            font-size: 7em;
            margin-top: -3em;
            margin-bottom: -3em;
            vertical-align: middle;
        }
        .icon1-size5 > .font-icon {
            font-size: 10em;
            margin-top: -4.5em;
            margin-bottom: -4.5em;
            vertical-align: middle;
        }

    /* IE8 */
    [class^="icon1-"].font-icon-empty:before,
    [class*=" icon1-"].font-icon-empty:before {
        margin-right: -0.077em;
        margin-left: -0.077em;
    }

.left-icon {
    padding-left: 20px;
    position: relative;
    min-height: 16px;
    }
    .wrapped.left-icon {
        padding-left: 30px;
    }
    .boxed.left-icon {
        padding-left: 36px;
    }
.big-left-icon {
    padding-left: 38px;
    position: relative;
    min-height: 32px;
    }
    .wrapped.big-left-icon {
        padding-left: 48px;
    }
    .boxed.big-left-icon {
        padding-left: 54px;
    }
.huge-left-icon {
    padding-left: 68px;
    position: relative;
    min-height: 64px;
    }
    .wrapped.huge-left-icon {
        padding-left: 78px;
    }
    .boxed.huge-left-icon {
        padding-left: 84px;
    }

    .left-icon:before,
    .big-left-icon:before,
    .huge-left-icon:before {
        position: absolute;
        display: block;
        margin: 0;
        }
        .left-icon:before {
            top: 0;
            left: -1px;
            font-size: 30px;
            line-height: 18px;
            }
            .wrapped.left-icon:before {
                top: 10px;
                left: 9px;
            }
            .boxed.left-icon:before {
                top: 16px;
                left: 15px;
            }
        .big-left-icon:before {
            top: -1px;
            left: -2px;
            font-size: 60px;
            line-height: 36px;
            }
            .wrapped.big-left-icon:before {
                top: 9px;
                left: 8px;
            }
            .boxed.big-left-icon:before {
                top: 15px;
                left: 14px;
            }
        .huge-left-icon:before {
            top: -3px;
            left: -5px;
            font-size: 120px;
            line-height: 72px;
            }
            .wrapped.huge-left-icon:before {
                top: 7px;
                left: 5px;
            }
            .boxed.huge-left-icon:before {
                top: 13px;
                left: 11px;
            }

    .icon1-plus:before { content: '\f016'; }
    .icon1-minus:before { content: '\f019'; }
    .icon1-info:before { content: '\f01e'; }
    .icon1-left-thin:before { content: '\f08d'; }
    .icon1-up-thin:before { content: '\f08f'; }
    .icon1-right-thin:before { content: '\f08e'; }
    .icon1-down-thin:before { content: '\f08c'; }
    .icon1-level-up:before { content: '\f094'; }
    .icon1-level-down:before { content: '\f093'; }
    .icon1-switch:before { content: '\f097'; }
    .icon1-infinity:before { content: '\f0c3'; }
    .icon1-squared-plus:before { content: '\f018'; }
    .icon1-squared-minus:before { content: '\f01b'; }
    .icon1-home:before { content: '\f022'; }
    .icon1-keyboard:before { content: '\f03b'; }
    .icon1-erase:before { content: '\f0c4'; }
    .icon1-pause:before { content: '\f09a'; }
    .icon1-forward:before { content: '\f09e'; }
    .icon1-backward:before { content: '\f09f'; }
    .icon1-next:before { content: '\f09c'; }
    .icon1-previous:before { content: '\f09d'; }
    .icon1-hourglass:before { content: '\f064'; }
    .icon1-stop:before { content: '\f099'; }
    .icon1-triangle-up:before { content: '\f087'; }
    .icon1-play:before { content: '\f098'; }
    .icon1-triangle-right:before { content: '\f086'; }
    .icon1-triangle-down:before { content: '\f084'; }
    .icon1-triangle-left:before { content: '\f085'; }
    .icon1-adjust:before { content: '\f068'; }
    .icon1-cloud:before { content: '\f0b3'; }
    .icon1-star:before { content: '\f008'; }
    .icon1-star-empty:before { content: '\f009'; }
    .icon1-cup:before { content: '\f047'; }
    .icon1-list:before { content: '\f011'; }
    .icon1-moon:before { content: '\f0b6'; }
    .icon1-heart-empty:before { content: '\f007'; }
    .icon1-heart:before { content: '\f006'; }
    .icon1-music-note:before { content: '\f000'; }
    .icon1-beamed-note:before { content: '\f001'; }
    .icon1-thumbs:before { content: '\f010'; }
    .icon1-flag:before { content: '\f02b'; }
    .icon1-tools:before { content: '\f057'; }
    .icon1-gear:before { content: '\f056'; }
    .icon1-warning:before { content: '\f03f'; }
    .icon1-lightning:before { content: '\f0b5'; }
    .icon1-record:before { content: '\f09b'; }
    .icon1-thunder-cloud:before { content: '\f0b4'; }
    .icon1-voicemail:before { content: '\f0c9'; }
    .icon1-plane:before { content: '\f0b7'; }
    .icon1-mail:before { content: '\f005'; }
    .icon1-pencil:before { content: '\f037'; }
    .icon1-feather:before { content: '\f038'; }
    .icon1-tick:before { content: '\f012'; }
    .icon1-cross:before { content: '\f013'; }
    .icon1-cross-round:before { content: '\f014'; }
    .icon1-squared-cross:before { content: '\f015'; }
    .icon1-question:before { content: '\f01c'; }
    .icon1-quote:before { content: '\f034'; }
    .icon1-plus-round:before { content: '\f017'; }
    .icon1-minus-round:before { content: '\f01a'; }
    .icon1-right:before { content: '\f082'; }
    .icon1-arrow:before { content: '\f045'; }
    .icon1-fwd:before { content: '\f033'; }
    .icon1-undo:before { content: '\f090'; }
    .icon1-redo:before { content: '\f091'; }
    .icon1-left:before { content: '\f081'; }
    .icon1-up:before { content: '\f083'; }
    .icon1-down:before { content: '\f080'; }
    .icon1-list-add:before { content: '\f0a7'; }
    .icon1-numbered-list:before { content: '\f0a6'; }
    .icon1-left-fat:before { content: '\f089'; }
    .icon1-right-fat:before { content: '\f08a'; }
    .icon1-up-fat:before { content: '\f08b'; }
    .icon1-down-fat:before { content: '\f088'; }
    .icon1-add-user:before { content: '\f00c'; }
    .icon1-question-round:before { content: '\f01d'; }
    .icon1-info-round:before { content: '\f01f'; }
    .icon1-eye:before { content: '\f027'; }
    .icon1-price-tag:before { content: '\f028'; }
    .icon1-cloud-upload:before { content: '\f030'; }
    .icon1-reply:before { content: '\f031'; }
    .icon1-reply-all:before { content: '\f032'; }
    .icon1-code:before { content: '\f035'; }
    .icon1-extract:before { content: '\f036'; }
    .icon1-printer:before { content: '\f039'; }
    .icon1-refresh:before { content: '\f03a'; }
    .icon1-speech:before { content: '\f03c'; }
    .icon1-chat:before { content: '\f03d'; }
    .icon1-card:before { content: '\f041'; }
    .icon1-directions:before { content: '\f042'; }
    .icon1-marker:before { content: '\f043'; }
    .icon1-map:before { content: '\f044'; }
    .icon1-compass:before { content: '\f046'; }
    .icon1-trash:before { content: '\f048'; }
    .icon1-page:before { content: '\f049'; }
    .icon1-page-list-inverted:before { content: '\f04d'; }
    .icon1-pages:before { content: '\f04a'; }
    .icon1-frame:before { content: '\f04b'; }
    .icon1-drawer:before { content: '\f052'; }
    .icon1-rss:before { content: '\f054'; }
    .icon1-path:before { content: '\f058'; }
    .icon1-cart:before { content: '\f05a'; }
    .icon1-shareable:before { content: '\f059'; }
    .icon1-login:before { content: '\f05d'; }
    .icon1-logout:before { content: '\f05e'; }
    .icon1-volume:before { content: '\f062'; }
    .icon1-expand:before { content: '\f06a'; }
    .icon1-reduce:before { content: '\f06b'; }
    .icon1-new-tab:before { content: '\f06c'; }
    .icon1-publish:before { content: '\f06d'; }
    .icon1-browser:before { content: '\f06e'; }
    .icon1-arrow-combo:before { content: '\f06f'; }
    .icon1-pie-chart:before { content: '\f0c5'; }
    .icon1-language:before { content: '\f0cb'; }
    .icon1-air:before { content: '\f0cf'; }
    .icon1-database:before { content: '\f0d4'; }
    .icon1-drive:before { content: '\f0d5'; }
    .icon1-bucket:before { content: '\f0d6'; }
    .icon1-thermometer:before { content: '\f0d7'; }
    .icon1-down-round:before { content: '\f070'; }
    .icon1-left-round:before { content: '\f071'; }
    .icon1-right-round:before { content: '\f072'; }
    .icon1-up-round:before { content: '\f073'; }
    .icon1-chevron-down:before { content: '\f074'; }
    .icon1-chevron-left:before { content: '\f075'; }
    .icon1-chevron-right:before { content: '\f076'; }
    .icon1-chevron-up:before { content: '\f077'; }
    .icon1-chevron-small-down:before { content: '\f078'; }
    .icon1-chevron-small-left:before { content: '\f079'; }
    .icon1-chevron-small-right:before { content: '\f07a'; }
    .icon1-chevron-small-up:before { content: '\f07b'; }
    .icon1-chevron-thin-down:before { content: '\f07c'; }
    .icon1-chevron-thin-left:before { content: '\f07d'; }
    .icon1-chevron-thin-right:before { content: '\f07e'; }
    .icon1-chevron-thin-up:before { content: '\f07f'; }
    .icon1-progress-0:before { content: '\f0a0'; }
    .icon1-progress-1:before { content: '\f0a1'; }
    .icon1-progress-2:before { content: '\f0a2'; }
    .icon1-progress-3:before { content: '\f0a3'; }
    .icon1-back-in-time:before { content: '\f0ab'; }
    .icon1-network:before { content: '\f0ae'; }
    .icon1-mailbox:before { content: '\f0b0'; }
    .icon1-download:before { content: '\f0b1'; }
    .icon1-buoy:before { content: '\f0ba'; }
    .icon1-tag:before { content: '\f0bb'; }
    .icon1-dot:before { content: '\f0be'; }
    .icon1-two-dots:before { content: '\f0bf'; }
    .icon1-ellipsis:before { content: '\f0c0'; }
    .icon1-suitcase:before { content: '\f0bd'; }
    .icon1-flow-cascade:before { content: '\f0d9'; }
    .icon1-flow-branch:before { content: '\f0da'; }
    .icon1-flow-tree:before { content: '\f0db'; }
    .icon1-flow-line:before { content: '\f0dc'; }
    .icon1-flow-parallel:before { content: '\f0dd'; }
    .icon1-brush:before { content: '\f0c1'; }
    .icon1-paper-plane:before { content: '\f0b8'; }
    .icon1-magnet:before { content: '\f0c2'; }
    .icon1-gauge:before { content: '\f0df'; }
    .icon1-traffic-cone:before { content: '\f0e0'; }
    .icon1-creative-commons:before { content: '\f0e1'; }
    .icon1-cc-by:before { content: '\f0e2'; }
    .icon1-cc-nc:before { content: '\f0e3'; }
    .icon1-cc-nc-eu:before { content: '\f0e4'; }
    .icon1-cc-nc-jp:before { content: '\f0e5'; }
    .icon1-cc-sa:before { content: '\f0e6'; }
    .icon1-cc-nd:before { content: '\f0e7'; }
    .icon1-cc-pd:before { content: '\f0e8'; }
    .icon1-cc-zero:before { content: '\f0e9'; }
    .icon1-cc-share:before { content: '\f0ea'; }
    .icon1-cc-remix:before { content: '\f0eb'; }
    .icon1-github:before { content: '\f0ec'; }
    .icon1-github-circled:before { content: '\f0ed'; }
    .icon1-flickr:before { content: '\f0ee'; }
    .icon1-flickr-circled:before { content: '\f0ef'; }
    .icon1-vimeo:before { content: '\f0f0'; }
    .icon1-vimeo-circled:before { content: '\f0f1'; }
    .icon1-twitter:before { content: '\f0f2'; }
    .icon1-twitter-circled:before { content: '\f0f3'; }
    .icon1-facebook:before { content: '\f0f4'; }
    .icon1-facebook-circled:before { content: '\f0f5'; }
    .icon1-facebook-squared:before { content: '\f0f6'; }
    .icon1-gplus:before { content: '\f0f7'; }
    .icon1-gplus-circled:before { content: '\f0f8'; }
    .icon1-pinterest:before { content: '\f0f9'; }
    .icon1-pinterest-circled:before { content: '\f0fa'; }
    .icon1-tumblr:before { content: '\f0fb'; }
    .icon1-tumblr-circled:before { content: '\f0fc'; }
    .icon1-linkedin:before { content: '\f0fd'; }
    .icon1-linkedin-circled:before { content: '\f0fe'; }
    .icon1-dribbble:before { content: '\f0ff'; }
    .icon1-dribbble-circled:before { content: '\f100'; }
    .icon1-stumbleupon:before { content: '\f101'; }
    .icon1-stumbleupon-circled:before { content: '\f102'; }
    .icon1-lastfm:before { content: '\f103'; }
    .icon1-lastfm-circled:before { content: '\f104'; }
    .icon1-rdio:before { content: '\f105'; }
    .icon1-rdio-circled:before { content: '\f106'; }
    .icon1-spotify:before { content: '\f107'; }
    .icon1-spotify-circled:before { content: '\f108'; }
    .icon1-qq:before { content: '\f109'; }
    .icon1-instagrem:before { content: '\f10a'; }
    .icon1-dropbox:before { content: '\f10b'; }
    .icon1-evernote:before { content: '\f10c'; }
    .icon1-flattr:before { content: '\f10d'; }
    .icon1-skype:before { content: '\f10e'; }
    .icon1-skype-circled:before { content: '\f10f'; }
    .icon1-renren:before { content: '\f110'; }
    .icon1-sina-weibo:before { content: '\f111'; }
    .icon1-paypal:before { content: '\f112'; }
    .icon1-picasa:before { content: '\f113'; }
    .icon1-soundcloud:before { content: '\f114'; }
    .icon1-mixi:before { content: '\f115'; }
    .icon1-behance:before { content: '\f116'; }
    .icon1-google-circles:before { content: '\f117'; }
    .icon1-vkontakte:before { content: '\f118'; }
    .icon1-smashing:before { content: '\f119'; }
    .icon1-db-shape:before { content: '\f11b'; }
    .icon1-bullet-list:before { content: '\f11a'; }
    .icon1-db-logo:before { content: '\f11c'; }
    .icon1-pictures:before { content: '\f00e'; }
    .icon1-globe:before { content: '\f0b2'; }
    .icon1-leaf:before { content: '\f0b9'; }
    .icon1-graduation-cap:before { content: '\f0ca'; }
    .icon1-mic:before { content: '\f05f'; }
    .icon1-palette:before { content: '\f0a5'; }
    .icon1-ticket:before { content: '\f0cc'; }
    .icon1-movie:before { content: '\f00d'; }
    .icon1-target:before { content: '\f0a4'; }
    .icon1-music:before { content: '\f002'; }
    .icon1-trophy:before { content: '\f0a9'; }
    .icon1-like:before { content: '\f02c'; }
    .icon1-unlike:before { content: '\f02d'; }
    .icon1-bag:before { content: '\f05b'; }
    .icon1-user:before { content: '\f00a'; }
    .icon1-users:before { content: '\f00b'; }
    .icon1-light-bulb:before { content: '\f065'; }
    .icon1-new:before { content: '\f040'; }
    .icon1-water:before { content: '\f0cd'; }
    .icon1-droplet:before { content: '\f0ce'; }
    .icon1-credit-card:before { content: '\f0d0'; }
    .icon1-monitor:before { content: '\f0ac'; }
    .icon1-briefcase:before { content: '\f0bc'; }
    .icon1-save:before { content: '\f0d1'; }
    .icon1-cd:before { content: '\f0af'; }
    .icon1-folder:before { content: '\f051'; }
    .icon1-page-list:before { content: '\f04c'; }
    .icon1-calendar:before { content: '\f05c'; }
    .icon1-line-graph:before { content: '\f0c6'; }
    .icon1-bar-graph:before { content: '\f0c7'; }
    .icon1-clipboard:before { content: '\f0d2'; }
    .icon1-paperclip:before { content: '\f024'; }
    .icon1-ribbons:before { content: '\f02a'; }
    .icon1-book:before { content: '\f050'; }
    .icon1-read:before { content: '\f04f'; }
    .icon1-phone:before { content: '\f055'; }
    .icon1-megaphone:before { content: '\f0d3'; }
    .icon1-outbox:before { content: '\f02f'; }
    .icon1-inbox:before { content: '\f02e'; }
    .icon1-box:before { content: '\f053'; }
    .icon1-newspaper:before { content: '\f04e'; }
    .icon1-mobile:before { content: '\f0ad'; }
    .icon1-wifi:before { content: '\f0a8'; }
    .icon1-camera:before { content: '\f00f'; }
    .icon1-swap:before { content: '\f095'; }
    .icon1-loop:before { content: '\f096'; }
    .icon1-cycle:before { content: '\f092'; }
    .icon1-light-down:before { content: '\f066'; }
    .icon1-light-up:before { content: '\f067'; }
    .icon1-mute:before { content: '\f060'; }
    .icon1-loud:before { content: '\f061'; }
    .icon1-battery:before { content: '\f0aa'; }
    .icon1-search:before { content: '\f003'; }
    .icon1-key:before { content: '\f0d8'; }
    .icon1-lock:before { content: '\f025'; }
    .icon1-unlock:before { content: '\f026'; }
    .icon1-bell:before { content: '\f03e'; }
    .icon1-ribbon:before { content: '\f029'; }
    .icon1-link:before { content: '\f023'; }
    .icon1-revert:before { content: '\f021'; }
    .icon1-flashlight:before { content: '\f004'; }
    .icon1-area-graph:before { content: '\f0c8'; }
    .icon1-clock:before { content: '\f063'; }
    .icon1-rocket:before { content: '\f0de'; }
    .icon1-forbidden:before { content: '\f069'; }


/********************************************************/
/*                 16. Custom scrollbars                */
/********************************************************/

.custom-scroll {
    overflow: hidden !important;
    }
    .custom-hscrollbar,
    .custom-vscrollbar {
        position: absolute;
        z-index: 999000;
        padding: 0;
        margin: 0;
        border: 0;
        background: url(../img/old-browsers/grey20.png);
        background: rgba(128, 128, 128, 0.2);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        }
        .custom-hscrollbar {
            height: 8px;
        }
        .custom-vscrollbar {
            width: 8px;
        }
        .custom-hscrollbar > div,
        .custom-vscrollbar > div {
            position: absolute;
            background: url(../img/old-browsers/grey50.png);
            background: rgba(128, 128, 128, 0.5);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
            -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
            -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
            }
            .custom-hscrollbar > div {
                top: 0;
                bottom: 0;
            }
            .custom-vscrollbar > div {
                left: 0;
                right: 0;
            }


/********************************************************/
/*                      18. Loaders                     */
/********************************************************/

.loader {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: url(../img/standard/loaders/loading16.gif) no-repeat center center;
    margin-top: -1px;
    margin-bottom: 1px;
    }
    .input .loader:first-child {
        margin-left: -1px;
    }
    .input .loader:last-child {
        margin-right: -1px;
        }
        /* IE7 */
        .input .loader.last-child {
            margin-right: -1px;
        }
    .loader.waiting {             background-image: url(../img/standard/loaders/waiting16.gif); }
    .loader.working {             background-image: url(../img/standard/loaders/working16.gif); }
    .loader.refreshing {         background-image: url(../img/standard/loaders/refreshing16.gif); }

    .loader.on-dark {                 background-image: url(../img/standard/loaders/loading16_anthracite.gif); }
    .loader.waiting.on-dark {         background-image: url(../img/standard/loaders/waiting16_anthracite.gif); }
    .loader.working.on-dark {         background-image: url(../img/standard/loaders/working16_anthracite.gif); }
    .loader.refreshing.on-dark {     background-image: url(../img/standard/loaders/refreshing16_anthracite.gif); }

    .loader.big {                 background-image: url(../img/standard/loaders/loading32.gif); width: 32px; height: 32px; }
    .loader.big.waiting {         background-image: url(../img/standard/loaders/waiting32.gif); }
    .loader.big.working {         background-image: url(../img/standard/loaders/working32.gif); }
    .loader.big.refreshing {     background-image: url(../img/standard/loaders/refreshing32.gif); }

    .loader.big.on-dark {                 background-image: url(../img/standard/loaders/loading32_anthracite.gif); }
    .loader.big.waiting.on-dark {         background-image: url(../img/standard/loaders/waiting32_anthracite.gif); }
    .loader.big.working.on-dark {         background-image: url(../img/standard/loaders/working32_anthracite.gif); }
    .loader.big.refreshing.on-dark {     background-image: url(../img/standard/loaders/refreshing32_anthracite.gif); }

    .loader.huge {                 background-image: url(../img/standard/loaders/loading64.gif); width: 64px; height: 64px; }
    .loader.huge.waiting {         background-image: url(../img/standard/loaders/waiting64.gif); }
    .loader.huge.working {         background-image: url(../img/standard/loaders/working64.gif); }
    .loader.huge.refreshing {     background-image: url(../img/standard/loaders/refreshing64.gif); }

    .loader.huge.on-dark {                 background-image: url(../img/standard/loaders/loading64_anthracite.gif); }
    .loader.huge.waiting.on-dark {         background-image: url(../img/standard/loaders/waiting64_anthracite.gif); }
    .loader.huge.working.on-dark {         background-image: url(../img/standard/loaders/working64_anthracite.gif); }
    .loader.huge.refreshing.on-dark {     background-image: url(../img/standard/loaders/refreshing64_anthracite.gif); }

  

/********************************************************/
/*                   21. Notifications                  */
/********************************************************/

#top-notifications,
#bottom-notifications {
    position: absolute;    /* This is for older iOS devices that do not support position: fixed */
    position: fixed;
    z-index: 999400;
    right: 0;
    left: 0;
    text-align: left;
    }
    #top-notifications {
        top: 0;
    }
    #bottom-notifications {
        bottom: 0;
    }
    #top-notifications > ul,
    #bottom-notifications > ul {
        list-style-type: none;
        margin: 0;
    }
    .notification {
        border-width: 1px;
        border-style: solid;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 5px;
        position: relative;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 7px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 7px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 7px rgba(0, 0, 0, 0.5);
        }
        .notification > .close {
            margin: -3px -3px 0 0;
        }
        .notification > a,
        .notification > div {
            display: block;
            text-decoration: none;
            padding: 6px 10px;
            color: inherit;
            margin: 0;
            }
            .notification.no-title > a,
            .notification.no-title > div {
                color: white;
            }
            .notification > a > h3,
            .notification > div > h3 {
                margin:0;
                font-weight: bold;
                color: white;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 4px;
            }
            .notification > a > b,
            .notification > div > b,
            .notification > div > a {
                color: white;
            }
            .notification.silver-gradient.no-title > a, .notification.silver-gradient.no-title > div,
            .notification.silver-gradient > a > h3, .notification.silver-gradient > div > h3,
            .notification.white-gradient.no-title > a, .notification.white-gradient.no-title > div,
            .notification.white-gradient > a > h3, .notification.white-gradient > div > h3,
            .notification.silver-gradient > a > b, .notification.silver-gradient > div > b,
            .notification.white-gradient > a > b, .notification.white-gradient > div > b {
                color: #333333;
            }

        .notification-icon {
            float: left;
            margin: 7px 6px 7px 8px;
        }

        .notification > .block-arrow {
            display: none;
        }

        .extra-notifications {
            padding: 2px 6px;
            font-weight: bold;
            -webkit-border-bottom-left-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5);
            margin-bottom: 0;
        }
        .more-notifications {
            padding: 3px 7px;
            cursor: pointer;
        }


/********************************************************/
/*                     22. Tooltips                     */
/********************************************************/

/* Root elements */
#tooltips, #tooltips-over {
    position: absolute;
    top: 0;
    left: 0;
    }
    #tooltips {
        z-index: 999100;
    }
    #tooltips-over {
        z-index: 999500;
    }
    .tooltip {
        position: absolute;
        white-space: nowrap;
        max-width: 300px;
    }

/* Tooltips inserted inside some elements */
.message.inner-tooltip {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 100%;
    text-align: center;
    margin: 0 0 10px 0;
    min-width: 16px;
    max-width: 250px;
    z-index: 89;
    pointer-events: none;
    white-space: nowrap;
    }
    .message.inner-tooltip.right {
        left: 100%;
        top: 50%;
        bottom: auto;
        margin: -15px 0 0 10px;
    }
    .message.inner-tooltip.bottom {
        top: 100%;
        bottom: auto;
        margin: 10px 0 0 0;
    }
    .message.inner-tooltip.left {
        left: auto;
        right: 100%;
        top: 50%;
        bottom: auto;
        margin: -15px 10px 0 0;
    }
    .message.inner-tooltip.right.compact,
    .message.inner-tooltip.left.compact {
        margin-top: -10px;
    }

        

/* nested sortable
------------------------------------------------------------------------- */
#ns-header{
    margin:0px 0px 0px;
    padding:0px;
    height:25px;         
    clear:both;
    display: block;
    position:static;
}

#ns-header div{
    padding: 0px 10px;
    font-weight: bold;
    font-size: 12px;
    color: #555;    
}   

#felismm{
    padding:0px;
    margin:0px;
    list-style: none;
}

.sortable{              
    margin:5px 0px 0px;
}

.sortable ul{
    list-style: none;   
}

.sortable div.row{
    font: 11px Tahoma, sans-serif;
    border: 1px solid #d5d5d5;   
    background: rgb(249,249,249); 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(249,249,249) 0%, rgb(245,245,245) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(249,249,249)), color-stop(100%,rgb(245,245,245))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(249,249,249) 0%,rgb(245,245,245) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(249,249,249) 0%,rgb(245,245,245) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(249,249,249) 0%,rgb(245,245,245) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(249,249,249) 0%,rgb(245,245,245) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-8 */       
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff; 
    margin:0 0 5px;
}

.sortable div.row div{
    border-left: 1px solid #e3e3e3;      
    padding: 7px 10px;  
}

.sortable div.row div.ns-title {        
    border: none;
    font-weight: bold; 
    cursor: move;
}


.sortable div.row div.ns-actions a {
    margin-left: 5px;
}


.ns-helper {
    border: 1px dashed #C6C486;
    background: #FAFAE0;
}     
#ns-footer {
    text-align: right;
    margin-top: 10px;
}     
