@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext);
@import url("bootstrap/bootstrap.css");
@import url("bootstrap/bootstrap-theme.css");
@import url("bootstrap/font-awesome.css");

html{
	background:url(../img/bg.png) no-repeat bottom center;
	min-height:100%;
	background-size: 100%;
}

body{
	background: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
}

a {
	color:#4eb48f;
	text-decoration:none;
}

a:hover {
	color:#E5432B;
	transition:all 0.2s linear 0s;
}

/********************************************************/
/*                 	    Helper class	                */
/********************************************************/

.no-space{
  margin: 0px !important;
  padding: 0px !important;
}
.no-bottom-space{
  padding-bottom:0px !important;
  margin-bottom: 0px !important;
}
.no-top-space{
  padding-top:0px !important;
  margin-top: 0px !important;
}
.no-margin{margin: 0px !important;}
.no-padding{padding: 0px !important;}
.no-top-margin{margin-top: 0 !important;}
.no-left-margin{margin-left: 0 !important;}
.no-right-margin{margin-right: 0 !important;}
.no-bottom-margin{margin-bottom: 0 !important;}
.no-top-padding{padding-top: 0 !important;}
.no-left-padding{padding-left: 0 !important;}
.no-right-padding{padding-right: 0 !important;}
.no-bottom-padding{padding-bottom: 0 !important;}

.padding-5{padding:5px !important;}
.padding-10{padding:10px !important;}
.padding-20{padding:20px !important;}

.padding-bottom-20{padding-bottom:20px !important;}

.margin-top-5{margin-top: 5px !important;}
.margin-top-10{margin-top: 10px !important;}
.margin-top-15{margin-top: 15px !important;}
.margin-top-20{margin-top: 20px !important;}
.margin-top-25{margin-top: 25px !important;}
.margin-top-30{margin-top: 30px !important;}
.margin-top-35{margin-top: 35px !important;}
.margin-top-40{margin-top: 40px !important;}
.margin-top-50{margin-top: 50px !important;}

.margin-left-10{margin-left: 10px !important;}
.margin-left-15{margin-left: 15px !important;}
.margin-left-20{margin-left: 20px !important;}
.margin-left-25{margin-left: 25px !important;}

.margin-right-10{margin-right: 10px !important;}
.margin-right-20{margin-right: 20px !important;}

.margin-bottom-5{margin-bottom: 5px !important;}
.margin-bottom-10{margin-bottom: 10px !important;}
.margin-bottom-15{margin-bottom: 15px !important;}
.margin-bottom-20{margin-bottom: 20px !important;}
.margin-bottom-25{margin-bottom: 25px !important;}
.margin-bottom-30{margin-bottom: 30px !important;}
.margin-bottom-40{margin-bottom: 40px !important;}

.panel{
	background: rgba(255,255,255,.55);
}

.panel-green > .panel-heading {
  background-image: -webkit-linear-gradient(top, #4db690 0%, #76decc 100%);
  background-image:      -o-linear-gradient(top, #4db690 0%, #76decc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4db690), to(#76decc));
  background-image:         linear-gradient(to bottom, #4db690 0%, #76decc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4db690', endColorstr='#76decc', GradientType=0);
  background-repeat: repeat-x;
  text-shadow:1px 1px rgba(0,0,0,.4);
  font-size:15px;
  color:#fff;
  padding: 5px 10px;
}

/********************************************************/
/*                 	    	Lay			                */
/********************************************************/

header{
	background:url(../img/bgTop.jpg) no-repeat top center;
	padding-top:15px;
}

header #logowanie label{
	font-size: 12px;
	color:#4db690;
}

header #logowanie input.form-control{
	height: 25px;
	font-size:12px;
}

#logowanie .btn-default,
#logowanie .btn-default:active{
  background: #71d4c3;
  background-image: -webkit-linear-gradient(top, #50b894 0%, #71d4c3 100%);
  background-image:      -o-linear-gradient(top, #50b894 0%, #71d4c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50b894), to(#71d4c3));
  background-image:         linear-gradient(to bottom, #50b894 0%, #71d4c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50b894', endColorstr='#71d4c3', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  padding: 2px 6px;
  color:#fff;
  text-shadow: 1px 1px rgba(0,0,0,.4);
}

#logowanie .form-group{
	margin-bottom:8px;
}

header nav{
	background-image: -webkit-linear-gradient(top, #4db690 0%, #75ddcb 100%);
	background-image:      -o-linear-gradient(top, #4db690 0%, #75ddcb 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4db690), to(#75ddcb));
	background-image:         linear-gradient(to bottom, #4db690 0%, #75ddcb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4db690', endColorstr='#75ddcb', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	font-weight:bold;
	font-size:16px;
	height:32px;
}

header nav ul{
	padding-top:5px;
}

header nav li a{
	color:#fff;
	padding:0px 20px;
	text-decoration:none;
	text-shadow:1px 1px rgba(0,0,0,.5);
}

header nav li a:hover,
header nav li a:focus,
header nav li.open a,
header nav li.active a{
	text-shadow:1px 1px rgba(0,0,0,.7);
	text-decoration:none;
	color:#f90;
}

header nav li.open .dropdown-menu > li > a{
	color:#333;
	text-shadow: none;
}

footer .container .footer{
	background:rgba(255,255,255,.74);
	border:1px solid rgba(95,95,95,.4);
	padding:25px;
	color:#4eb48f;
}

#polecaneObiekty .panel-body{
	padding:0px;
}

#polecaneObiekty .panel-body .carousel-caption{
	padding:0px;
	color:#fff;
	font-weight: bold;
}

#polecaneObiekty .panel-footer{
  background-image: -webkit-linear-gradient(top, #4db690 0%, #76decc 100%);
  background-image:      -o-linear-gradient(top, #4db690 0%, #76decc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4db690), to(#76decc));
  background-image:         linear-gradient(to bottom, #4db690 0%, #76decc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4db690', endColorstr='#76decc', GradientType=0);
  background-repeat: repeat-x;
  text-shadow:1px 1px rgba(0,0,0,.4);
}

#polecaneObiekty .carousel-caption{
	left:0%;
	right:0%;
	height:95%;
	text-align:left;
	z-index:5;
}

#polecaneObiekty .carousel-indicators{
	bottom:-32px;
	left: auto;
	right: -70px;
}

#polecaneObiekty .fa-star{color:orange;}

#polecaneObiekty h3{
	text-shadow: 1px 1px rgba(0,0,0,.5);
}

#cityList a{
	display: block;
	color:#4eb48f;
	padding:2px 0px;
	font-weight: bold;
}
h3{
	font-size:18px;
}

.hotele{
  background-image: -webkit-linear-gradient(top, #ecebeb 0%, #fff 10%);
  background-image:      -o-linear-gradient(top, #ecebeb 0%, #fff 10%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecebeb), to(#fff));
  background-image:         linear-gradient(to bottom, #ecebeb 0%, #fff 10%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecebeb', endColorstr='#fff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

.hotele h3 a{color:#4eb892;}
.hotele{
	font-size: 11px;;
}
.fa-star{color:#fff100; text-shadow: 1px 1px 3px rgba(0,0,0,.5); font-size: 13px;}

.naTerenie{
	background: url("../img/object_details_bg.png") no-repeat;
	width:272px;
	height: 221px;
	margin:auto;
	position:relative;
	display:block;
}

.naTerenie ul{
	position: relative;
	top: 60px;
	left:20px;
	color:#fff;
}

#rating_container {
	position: relative;
	width: 272px;
	height: 220px;
	margin:auto;
	margin-top: 20px;
	background: url("../img/rating_bg.png") no-repeat;
}

.center_white {
	position:relative;
	top:100px;
	display:block;
	width: 100%;
	text-align: center;
	color: #fff;
}

.ocen_info {
	width: 100%;
	text-align: right;
	position:relative;
	top:125px;
	color: #fff;
	font-size: 10px;
}

.czasUrlop{
	background: url("../img/wyszukiwarka.png") no-repeat;
	border-radius: 5px;
	padding:8px 12px;
	width:460px;
	height:109px;
}
.czasurlop{
	margin-top:60px;
	margin-left:145px;
}
.czasurlop .btn-default{
  background: #ff812d;
  background-image: -webkit-linear-gradient(top, #ff812d 0%, #ff6600 100%);
  background-image:      -o-linear-gradient(top, #ff812d 0%, #ff6600 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff812d), to(#ff6600));
  background-image:         linear-gradient(to bottom, #ff812d 0%, #ff6600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff812d', endColorstr='#ff6600', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  padding: 3px 6px;
  color:#fff;
  font-size:11px;
  text-shadow: 1px 1px rgba(0,0,0,.4);
}


/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 10px;
    left: 0;
    margin-left: 10px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 75px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 75px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 75px;
    left: 0;
    width: 75px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.article-slide .carousel-indicators .active{background: none;}

#carousel-example-generic .carousel-control{width:3%;}


/* Tiny Carousel */
#slider1 { height: 1%; margin: 5px 0 0; overflow:hidden; position: relative; padding: 0 50px 0px;   }
#slider1 .viewport { height: 270px; overflow: hidden; position: relative; }
#slider1 .buttons {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    color: #333;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
#slider1 .next {
    right: 0;
    left: auto;
    top: 50%;
}
#slider1 .buttons:hover{
    color: #C01313;
}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 255px; width: 236px;}
#slider1 .overview li .panel-body{height:250px;}

#slider1 .overview li:hover .panel{
	box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.obiektyTop{
	top:10px;
	background: rgba(0,0,0,.3);
	padding-left:20px;
	padding-right:20px;

}
.obiektyBottom{
	margin-top:284px;
	padding:10px 20px;
	background: rgba(0,0,0,.3);
}

.carousel-control{
	z-index:10;
}

.viewport .img-thumbnail{
  max-width:80%;
}

		.rating {
		  unicode-bidi: bidi-override;
		  direction: rtl;
		  text-align: center;
		}
		.rating > span {
		  display: inline-block;
		  position: relative;
		  width: 1.1em;
		}
		.rating > span:hover,
		.rating > span:hover ~ span {
		  color: transparent;
		}
		.rating > span:hover:before,
		.rating > span:hover ~ span:before {
		   content: "\2605";
		   position: absolute;
		   left: 0;
		   color: gold;
		}

		.step{
	color:#0bac74;
	font-weight:bold;
	text-align:center;
	font-size:18px;
	margin-top:10px;
}
.p_center{
	text-align:center;
	display: block;
	clear: both;
}
.left_div{
	border:#999 1px solid;
	border-right:none;
	margin-left:20px;
	float:left;
	width:480px;
	margin-top:15px;
	background: rgb(232,232,232); /* Old browsers */
background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
padding:10px;
text-align:center;
	border-top-left-radius:0.3em;
	-webkit-border-top-left-radius:0.3em; /* Safari */
	border-bottom-left-radius:0.3em;
	-webkit-border-bottom-left-radius:0.3em; /* Safari */
	height:300px;
	margin-bottom: 30px;
}
.right_div{
	margin-top:15px;
	border:#999 1px solid;
	float:left;
	width:500px;
	background-image:url(text_bg.png);
	background-repeat:repeat-x;
	background-size:3px 100%;
	padding:10px;
	border-top-right-radius:0.3em;
	-webkit-border-top-right-radius:0.3em; /* Safari */
	border-bottom-right-radius:0.3em;
	-webkit-border-bottom-right-radius:0.3em; /* Safari */
	height:300px;
	margin-bottom: 30px;
}
#lipsum h2{
	color:#000;
}

.left_div img,
.right_div img{
	max-height: 100%;
}

.newsletter{
	font-size:27px;
	font-weight:bold;
    color:#df6615;
}

footer a.bottom_link{
	font-weight: bold;
	margin-left: 50px;
	font-size:15px;
}

.boxAction tr:hover {
	background: rgba(0,0,0,.06);
}
.boxShadow:hover .panel{
	box-shadow: 0 0 12px rgba(0,0,0,.3);
}
.boxShadow .panel-body{
	overflow:hidden;
}

#accordion .panel.boxShadow:hover{
	box-shadow: 0 0 12px rgba(0,0,0,.3);
}


.btn-green,
.btn-green:active{
  background: #71d4c3;
  background-image: -webkit-linear-gradient(top, #50b894 0%, #71d4c3 100%);
  background-image:      -o-linear-gradient(top, #50b894 0%, #71d4c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50b894), to(#71d4c3));
  background-image:         linear-gradient(to bottom, #50b894 0%, #71d4c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50b894', endColorstr='#71d4c3', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  color:#fff;
  text-shadow: 1px 1px rgba(0,0,0,.4);
}

.panel-group .panel-heading + .panel-collapse .panel-body{border-top:none;}