@charset "utf-8";
/* Czcionki
###################################################################################################################
###################################################################################################################
*/

@import url("./fonts/sansation/sansation.css");                                         

                                     
#main, #menu{                                      
    font-family: Arial, Helvetica, sans-serif;
}

#menu .navigable{  
    font-family: "Sansation_Regular", sans-serif; 
}

#main header h1{
    font-family: "Sansation_Bold", sans-serif;
    font-weight: normal;
}     




/********************************************************/
/*                       13. icon1s                      */
/********************************************************/

@font-face {
    font-family: 'EntypoRegular';
    src: url('./fonts/entypo/entypo-webfont.eot');
    src: url('./fonts/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/entypo/entypo-webfont.woff') format('woff'),
         url('./fonts/entypo/entypo-webfont.ttf') format('truetype'),
         url('./fonts/entypo/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon1-"]:before, [class*=" icon1-"]:before {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    font-family: 'EntypoRegular';
    text-transform: none !important;
    line-height: 1em;
    margin: 0 0.23em 0 -0.154em;
    }
    .button.icon1:before, .button > .icon1:before,
    .button-icon1.icon1:before, .button-icon1 > .icon1:before {
        font-size: 2.3em;
        margin-top: -0.65em;
        margin-bottom: -0.65em;
    }

    /* Sizes */
    .icon1-size2:before {
        font-size: 1.75em;
        margin-top: -1.25em;
        margin-bottom: -1.25em;
        vertical-align: middle;
    }
    .icon1-size3:before {
        font-size: 2.25em;
        margin-top: -1.75em;
        margin-bottom: -1.75em;
        vertical-align: middle;
    }
    .icon1-size4:before {
        font-size: 3.5em;
        margin-top: -3em;
        margin-bottom: -3em;
        vertical-align: middle;
    }
    .icon1-size5:before {
        font-size: 5em;
        margin-top: -4.5em;
        margin-bottom: -4.5em;
        vertical-align: middle;
    }

    /* Empty icon1s */
    [class^="icon1-"]:empty:before,
    [class*=" icon1-"]:empty:before {
        margin-right: -0.154em;
        margin-left: -0.154em;
    }

    /* IE7 */
    .font-icon1 {
        font-weight: normal;
        font-style: normal;
        font-family: 'EntypoRegular';
        margin: 0 0.23em 0 -0.154em;
        vertical-align: middle;
        }
        .font-icon1.empty {
            margin-right: -2px;
            margin-left: -2px;
        }
        /* Sizes */
        .icon1-size2 > .font-icon1 {
            font-size: 1.75em;
            margin-top: -1.25em;
            margin-bottom: -1.25em;
            vertical-align: middle;
        }
        .icon1-size3 > .font-icon1 {
            font-size: 2.25em;
            margin-top: -1.75em;
            margin-bottom: -1.75em;
            vertical-align: middle;
        }
        .icon1-size4 > .font-icon1 {
            font-size: 3.5em;
            margin-top: -3em;
            margin-bottom: -3em;
            vertical-align: middle;
        }
        .icon1-size5 > .font-icon1 {
            font-size: 5em;
            margin-top: -4.5em;
            margin-bottom: -4.5em;
            vertical-align: middle;
        }

    /* IE8 */
    [class^="icon1-"].font-icon1-empty:before,
    [class*=" icon1-"].font-icon1-empty:before {
        margin-right: -0.154em;
        margin-left: -0.154em;
    }

.left-icon1 {
    padding-left: 20px;
    position: relative;
    min-height: 16px;
    }
    .wrapped.left-icon1 {
        padding-left: 30px;
    }
    .boxed.left-icon1 {
        padding-left: 36px;
    }
.big-left-icon1 {
    padding-left: 38px;
    position: relative;
    min-height: 32px;
    }
    .wrapped.big-left-icon1 {
        padding-left: 48px;
    }
    .boxed.big-left-icon1 {
        padding-left: 54px;
    }
.huge-left-icon1 {
    padding-left: 68px;
    position: relative;
    min-height: 64px;
    }
    .wrapped.huge-left-icon1 {
        padding-left: 78px;
    }
    .boxed.huge-left-icon1 {
        padding-left: 84px;
    }

    .left-icon1:before,
    .big-left-icon1:before,
    .huge-left-icon1:before {
        position: absolute;
        display: block;
        margin: 0;
        }
        .left-icon1:before {
            top: 0;
            left: -1px;
            font-size: 15px;
            line-height: 18px;
            }
            .wrapped.left-icon1:before {
                top: 10px;
                left: 9px;
            }
            .boxed.left-icon1:before {
                top: 16px;
                left: 15px;
            }
        .big-left-icon1:before {
            top: -1px;
            left: -2px;
            font-size: 30px;
            line-height: 36px;
            }
            .wrapped.big-left-icon1:before {
                top: 9px;
                left: 8px;
            }
            .boxed.big-left-icon1:before {
                top: 15px;
                left: 14px;
            }
        .huge-left-icon1:before {
            top: -3px;
            left: -5px;
            font-size: 60px;
            line-height: 72px;
            }
            .wrapped.huge-left-icon1:before {
                top: 7px;
                left: 5px;
            }
            .boxed.huge-left-icon1:before {
                top: 13px;
                left: 11px;
            }

    .icon1-plus:before { content: '\e816'; }
    .icon1-minus:before { content: '\e819'; }
    .icon1-info:before { content: '\e81e'; }
    .icon1-left-thin:before { content: '\e88c'; }
    .icon1-up-thin:before { content: '\e88e'; }
    .icon1-right-thin:before { content: '\e88d'; }
    .icon1-down-thin:before { content: '\e88b'; }
    .icon1-level-up:before { content: '\e893'; }
    .icon1-level-down:before { content: '\e892'; }
    .icon1-switch:before { content: '\e896'; }
    .icon1-infinity:before { content: '\e8c2'; }
    .icon1-squared-plus:before { content: '\e818'; }
    .icon1-squared-minus:before { content: '\e81b'; }
    .icon1-home:before { content: '\e821'; }
    .icon1-keyboard:before { content: '\e83a'; }
    .icon1-erase:before { content: '\e8c3'; }
    .icon1-pause:before { content: '\e899'; }
    .icon1-forward:before { content: '\e89d'; }
    .icon1-backward:before { content: '\e89e'; }
    .icon1-next:before { content: '\e89b'; }
    .icon1-previous:before { content: '\e89c'; }
    .icon1-hourglass:before { content: '\e863'; }
    .icon1-stop:before { content: '\e898'; }
    .icon1-triangle-up:before { content: '\e886'; }
    .icon1-play:before { content: '\e897'; }
    .icon1-triangle-right:before { content: '\e885'; }
    .icon1-triangle-down:before { content: '\e883'; }
    .icon1-triangle-left:before { content: '\e884'; }
    .icon1-adjust:before { content: '\e867'; }
    .icon1-cloud:before { content: '\e8b2'; }
    .icon1-star:before { content: '\e808'; }
    .icon1-star-empty:before { content: '\e809'; }
    .icon1-cup:before { content: '\e846'; }
    .icon1-numbered-list:before { content: '\e8a5'; }
    .icon1-moon:before { content: '\e8b5'; }
    .icon1-heart-empty:before { content: '\e807'; }
    .icon1-heart:before { content: '\e806'; }
    .icon1-music-note:before { content: '\e800'; }
    .icon1-beamed-note:before { content: '\e801'; }
    .icon1-thumbs:before { content: '\e810'; }
    .icon1-flag:before { content: '\e82a'; }
    .icon1-tools:before { content: '\e856'; }
    .icon1-gear:before { content: '\e855'; }
    .icon1-warning:before { content: '\e83e'; }
    .icon1-lightning:before { content: '\e8b4'; }
    .icon1-record:before { content: '\e89a'; }
    .icon1-thunder-cloud:before { content: '\e8b3'; }
    .icon1-voicemail:before { content: '\e8c8'; }
    .icon1-plane:before { content: '\e8b6'; }
    .icon1-mail:before { content: '\e805'; }
    .icon1-pencil:before { content: '\e836'; }
    .icon1-feather:before { content: '\e837'; }
    .icon1-tick:before { content: '\e812'; }
    .icon1-cross:before { content: '\e813'; }
    .icon1-cross-round:before { content: '\e814'; }
    .icon1-squared-cross:before { content: '\e815'; }
    .icon1-question:before { content: '\e81c'; }
    .icon1-quote:before { content: '\e833'; }
    .icon1-plus-round:before { content: '\e817'; }
    .icon1-minus-round:before { content: '\e81a'; }
    .icon1-right:before { content: '\e881'; }
    .icon1-arrow:before { content: '\e844'; }
    .icon1-fwd:before { content: '\e832'; }
    .icon1-undo:before { content: '\e88f'; }
    .icon1-redo:before { content: '\e890'; }
    .icon1-left:before { content: '\e880'; }
    .icon1-up:before { content: '\e882'; }
    .icon1-down:before { content: '\e87f'; }
    .icon1-list-add:before { content: '\e8a6'; }
    .icon1-list:before { content: '\e811'; }
    .icon1-left-fat:before { content: '\e888'; }
    .icon1-right-fat:before { content: '\e889'; }
    .icon1-up-fat:before { content: '\e88a'; }
    .icon1-down-fat:before { content: '\e887'; }
    .icon1-add-user:before { content: '\e80c'; }
    .icon1-question-round:before { content: '\e81d'; }
    .icon1-info-round:before { content: '\e81f'; }
    .icon1-eye:before { content: '\e826'; }
    .icon1-price-tag:before { content: '\e8ba'; }
    .icon1-cloud-upload:before { content: '\e82f'; }
    .icon1-reply:before { content: '\e830'; }
    .icon1-reply-all:before { content: '\e831'; }
    .icon1-code:before { content: '\e834'; }
    .icon1-extract:before { content: '\e835'; }
    .icon1-printer:before { content: '\e838'; }
    .icon1-refresh:before { content: '\e839'; }
    .icon1-speech:before { content: '\e83b'; }
    .icon1-chat:before { content: '\e83c'; }
    .icon1-card:before { content: '\e840'; }
    .icon1-directions:before { content: '\e841'; }
    .icon1-marker:before { content: '\e842'; }
    .icon1-map:before { content: '\e843'; }
    .icon1-compass:before { content: '\e845'; }
    .icon1-trash:before { content: '\e847'; }
    .icon1-page:before { content: '\e848'; }
    .icon1-page-list-inverted:before { content: '\e84c'; }
    .icon1-pages:before { content: '\e849'; }
    .icon1-frame:before { content: '\e84a'; }
    .icon1-drawer:before { content: '\e851'; }
    .icon1-rss:before { content: '\e853'; }
    .icon1-path:before { content: '\e857'; }
    .icon1-cart:before { content: '\e859'; }
    .icon1-shareable:before { content: '\e858'; }
    .icon1-login:before { content: '\e85c'; }
    .icon1-logout:before { content: '\e85d'; }
    .icon1-volume:before { content: '\e861'; }
    .icon1-expand:before { content: '\e869'; }
    .icon1-reduce:before { content: '\e86a'; }
    .icon1-new-tab:before { content: '\e86b'; }
    .icon1-publish:before { content: '\e86c'; }
    .icon1-browser:before { content: '\e86d'; }
    .icon1-arrow-combo:before { content: '\e86e'; }
    .icon1-pie-chart:before { content: '\e8c4'; }
    .icon1-language:before { content: '\e8ca'; }
    .icon1-air:before { content: '\e8ce'; }
    .icon1-database:before { content: '\e8d3'; }
    .icon1-drive:before { content: '\e8d4'; }
    .icon1-bucket:before { content: '\e8d5'; }
    .icon1-thermometer:before { content: '\e8d6'; }
    .icon1-down-round:before { content: '\e86f'; }
    .icon1-left-round:before { content: '\e870'; }
    .icon1-right-round:before { content: '\e871'; }
    .icon1-up-round:before { content: '\e872'; }
    .icon1-chevron-down:before { content: '\e873'; }
    .icon1-chevron-left:before { content: '\e874'; }
    .icon1-chevron-right:before { content: '\e875'; }
    .icon1-chevron-up:before { content: '\e876'; }
    .icon1-chevron-small-down:before { content: '\e877'; }
    .icon1-chevron-small-left:before { content: '\e878'; }
    .icon1-chevron-small-right:before { content: '\e879'; }
    .icon1-chevron-small-up:before { content: '\e87a'; }
    .icon1-chevron-thin-down:before { content: '\e87b'; }
    .icon1-chevron-thin-left:before { content: '\e87c'; }
    .icon1-chevron-thin-right:before { content: '\e87d'; }
    .icon1-chevron-thin-up:before { content: '\e87e'; }
    .icon1-progress-0:before { content: '\e89f'; }
    .icon1-progress-1:before { content: '\e8a0'; }
    .icon1-progress-2:before { content: '\e8a1'; }
    .icon1-progress-3:before { content: '\e8a2'; }
    .icon1-back-in-time:before { content: '\e8aa'; }
    .icon1-network:before { content: '\e8ad'; }
    .icon1-mailbox:before { content: '\e82d'; }
    .icon1-download:before { content: '\e8b0'; }
    .icon1-buoy:before { content: '\e8b9'; }
    .icon1-tag:before { content: '\e827'; }
    .icon1-dot:before { content: '\e8bd'; }
    .icon1-two-dots:before { content: '\e8be'; }
    .icon1-ellipsis:before { content: '\e8bf'; }
    .icon1-suitcase:before { content: '\e8bc'; }
    .icon1-flow-cascade:before { content: '\e8d8'; }
    .icon1-flow-branch:before { content: '\e8d9'; }
    .icon1-flow-tree:before { content: '\e8da'; }
    .icon1-flow-line:before { content: '\e8db'; }
    .icon1-flow-parallel:before { content: '\e8dc'; }
    .icon1-brush:before { content: '\e8c0'; }
    .icon1-paper-plane:before { content: '\e8b7'; }
    .icon1-magnet:before { content: '\e8c1'; }
    .icon1-gauge:before { content: '\e8de'; }
    .icon1-traffic-cone:before { content: '\e8df'; }
    .icon1-creative-commons:before { content: '\e8e0'; }
    .icon1-cc-by:before { content: '\e8e1'; }
    .icon1-cc-nc:before { content: '\e8e2'; }
    .icon1-cc-nc-eu:before { content: '\e8e3'; }
    .icon1-cc-nc-jp:before { content: '\e8e4'; }
    .icon1-cc-sa:before { content: '\e8e5'; }
    .icon1-cc-nd:before { content: '\e8e6'; }
    .icon1-cc-pd:before { content: '\e8e7'; }
    .icon1-cc-zero:before { content: '\e8e8'; }
    .icon1-cc-share:before { content: '\e8e9'; }
    .icon1-cc-remix:before { content: '\e8ea'; }
    .icon1-github:before { content: '\e8eb'; }
    .icon1-github-circled:before { content: '\e8ec'; }
    .icon1-flickr:before { content: '\e8ed'; }
    .icon1-flickr-circled:before { content: '\e8ee'; }
    .icon1-vimeo:before { content: '\e8ef'; }
    .icon1-vimeo-circled:before { content: '\e8f0'; }
    .icon1-twitter:before { content: '\e8f1'; }
    .icon1-twitter-circled:before { content: '\e8f2'; }
    .icon1-facebook:before { content: '\e8f3'; }
    .icon1-facebook-circled:before { content: '\e8f4'; }
    .icon1-facebook-squared:before { content: '\e8f5'; }
    .icon1-gplus:before { content: '\e8f6'; }
    .icon1-gplus-circled:before { content: '\e8f7'; }
    .icon1-pinterest:before { content: '\e8f8'; }
    .icon1-pinterest-circled:before { content: '\e8f9'; }
    .icon1-tumblr:before { content: '\e8fa'; }
    .icon1-tumblr-circled:before { content: '\e8fb'; }
    .icon1-linkedin:before { content: '\e8fc'; }
    .icon1-linkedin-circled:before { content: '\e8fd'; }
    .icon1-dribbble:before { content: '\e8fe'; }
    .icon1-dribbble-circled:before { content: '\e8ff'; }
    .icon1-stumbleupon:before { content: '\e900'; }
    .icon1-stumbleupon-circled:before { content: '\e901'; }
    .icon1-lastfm:before { content: '\e902'; }
    .icon1-lastfm-circled:before { content: '\e903'; }
    .icon1-rdio:before { content: '\e904'; }
    .icon1-rdio-circled:before { content: '\e905'; }
    .icon1-spotify:before { content: '\e906'; }
    .icon1-spotify-circled:before { content: '\e907'; }
    .icon1-qq:before { content: '\e908'; }
    .icon1-instagram:before { content: '\e909'; }
    .icon1-dropbox:before { content: '\e90a'; }
    .icon1-evernote:before { content: '\e90b'; }
    .icon1-flattr:before { content: '\e90c'; }
    .icon1-skype:before { content: '\e90d'; }
    .icon1-skype-circled:before { content: '\e90e'; }
    .icon1-renren:before { content: '\e90f'; }
    .icon1-sina-weibo:before { content: '\e910'; }
    .icon1-paypal:before { content: '\e911'; }
    .icon1-picasa:before { content: '\e912'; }
    .icon1-soundcloud:before { content: '\e913'; }
    .icon1-mixi:before { content: '\e914'; }
    .icon1-behance:before { content: '\e915'; }
    .icon1-google-circles:before { content: '\e916'; }
    .icon1-vkontakte:before { content: '\e917'; }
    .icon1-smashing:before { content: '\e918'; }
    .icon1-db-shape:before { content: '\e91a'; }
    .icon1-bullet-list:before { content: '\e919'; }
    .icon1-db-logo:before { content: '\e91b'; }
    .icon1-pictures:before { content: '\e80e'; }
    .icon1-globe:before { content: '\e8b1'; }
    .icon1-leaf:before { content: '\e8b8'; }
    .icon1-graduation-cap:before { content: '\e8c9'; }
    .icon1-mic:before { content: '\e85e'; }
    .icon1-palette:before { content: '\e8a4'; }
    .icon1-ticket:before { content: '\e8cb'; }
    .icon1-movie:before { content: '\e80d'; }
    .icon1-target:before { content: '\e8a3'; }
    .icon1-music:before { content: '\e802'; }
    .icon1-trophy:before { content: '\e8a8'; }
    .icon1-like:before { content: '\e82b'; }
    .icon1-unlike:before { content: '\e82c'; }
    .icon1-bag:before { content: '\e85a'; }
    .icon1-user:before { content: '\e80a'; }
    .icon1-users:before { content: '\e80b'; }
    .icon1-light-bulb:before { content: '\e864'; }
    .icon1-new:before { content: '\e83f'; }
    .icon1-water:before { content: '\e8cc'; }
    .icon1-droplet:before { content: '\e8cd'; }
    .icon1-credit-card:before { content: '\e8cf'; }
    .icon1-monitor:before { content: '\e8ab'; }
    .icon1-briefcase:before { content: '\e8bb'; }
    .icon1-save:before { content: '\e8d0'; }
    .icon1-cd:before { content: '\e8ae'; }
    .icon1-folder:before { content: '\e850'; }
    .icon1-page-list:before { content: '\e84b'; }
    .icon1-calendar:before { content: '\e85b'; }
    .icon1-line-graph:before { content: '\e8c5'; }
    .icon1-bar-graph:before { content: '\e8c6'; }
    .icon1-clipboard:before { content: '\e8d1'; }
    .icon1-paperclip:before { content: '\e823'; }
    .icon1-ribbons:before { content: '\e829'; }
    .icon1-book:before { content: '\e84f'; }
    .icon1-read:before { content: '\e84e'; }
    .icon1-phone:before { content: '\e854'; }
    .icon1-megaphone:before { content: '\e8d2'; }
    .icon1-outbox:before { content: '\e82e'; }
    .icon1-inbox:before { content: '\e8af'; }
    .icon1-box:before { content: '\e852'; }
    .icon1-newspaper:before { content: '\e84d'; }
    .icon1-mobile:before { content: '\e8ac'; }
    .icon1-wifi:before { content: '\e8a7'; }
    .icon1-camera:before { content: '\e80f'; }
    .icon1-swap:before { content: '\e894'; }
    .icon1-loop:before { content: '\e895'; }
    .icon1-cycle:before { content: '\e891'; }
    .icon1-light-down:before { content: '\e865'; }
    .icon1-light-up:before { content: '\e866'; }
    .icon1-mute:before { content: '\e85f'; }
    .icon1-loud:before { content: '\e860'; }
    .icon1-battery:before { content: '\e8a9'; }
    .icon1-search:before { content: '\e803'; }
    .icon1-key:before { content: '\e8d7'; }
    .icon1-lock:before { content: '\e824'; }
    .icon1-unlock:before { content: '\e825'; }
    .icon1-bell:before { content: '\e83d'; }
    .icon1-ribbon:before { content: '\e828'; }
    .icon1-link:before { content: '\e822'; }
    .icon1-revert:before { content: '\e820'; }
    .icon1-flashlight:before { content: '\e804'; }
    .icon1-area-graph:before { content: '\e8c7'; }
    .icon1-clock:before { content: '\e862'; }
    .icon1-rocket:before { content: '\e8dd'; }
    .icon1-forbidden:before { content: '\e868'; }
