@charset "utf-8";
/* CSS Document */

[class^="bluebits128-"],
[class*=" bluebits128-"] {
	display: inline-block;
	width: 128px;
	height: 128px;
	line-height: 128px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.bluebits128-aplication_add{background-image:url("../../img/icons/bluebits/128x128/aplication_add.png");}
.bluebits128-aplication_arrow_down{background-image:url("../../img/icons/bluebits/128x128/aplication_arrow_down.png");}
.bluebits128-aplication_arrow_left{background-image:url("../../img/icons/bluebits/128x128/aplication_arrow_left.png");}
.bluebits128-aplication_arrow_right{background-image:url("../../img/icons/bluebits/128x128/aplication_arrow_right.png");}
.bluebits128-aplication_arrow_up{background-image:url("../../img/icons/bluebits/128x128/aplication_arrow_up.png");}
.bluebits128-aplication_check{background-image:url("../../img/icons/bluebits/128x128/aplication_check.png");}
.bluebits128-aplication_delete{background-image:url("../../img/icons/bluebits/128x128/aplication_delete.png");}
.bluebits128-aplication_minus{background-image:url("../../img/icons/bluebits/128x128/aplication_minus.png");}
.bluebits128-aplication_search{background-image:url("../../img/icons/bluebits/128x128/aplication_search.png");}
.bluebits128-aplication_settings{background-image:url("../../img/icons/bluebits/128x128/aplication_settings.png");}
.bluebits128-database_add{background-image:url("../../img/icons/bluebits/128x128/database_add.png");}
.bluebits128-database_arrow_down{background-image:url("../../img/icons/bluebits/128x128/database_arrow_down.png");}
.bluebits128-database_arrow_left{background-image:url("../../img/icons/bluebits/128x128/database_arrow_left.png");}
.bluebits128-database_arrow_right{background-image:url("../../img/icons/bluebits/128x128/database_arrow_right.png");}
.bluebits128-database_arrow_up{background-image:url("../../img/icons/bluebits/128x128/database_arrow_up.png");}
.bluebits128-database_check{background-image:url("../../img/icons/bluebits/128x128/database_check.png");}
.bluebits128-database_delete{background-image:url("../../img/icons/bluebits/128x128/database_delete.png");}
.bluebits128-database_minus{background-image:url("../../img/icons/bluebits/128x128/database_minus.png");}
.bluebits128-database_search{background-image:url("../../img/icons/bluebits/128x128/database_search.png");}
.bluebits128-database_settings{background-image:url("../../img/icons/bluebits/128x128/database_settings.png");}
.bluebits128-document_add{background-image:url("../../img/icons/bluebits/128x128/document_add.png");}
.bluebits128-document_arrow_down{background-image:url("../../img/icons/bluebits/128x128/document_arrow_down.png");}
.bluebits128-document_arrow_left{background-image:url("../../img/icons/bluebits/128x128/document_arrow_left.png");}
.bluebits128-document_arrow_right{background-image:url("../../img/icons/bluebits/128x128/document_arrow_right.png");}
.bluebits128-document_arrow_up{background-image:url("../../img/icons/bluebits/128x128/document_arrow_up.png");}
.bluebits128-document_check{background-image:url("../../img/icons/bluebits/128x128/document_check.png");}
.bluebits128-document_delete{background-image:url("../../img/icons/bluebits/128x128/document_delete.png");}
.bluebits128-document_minus{background-image:url("../../img/icons/bluebits/128x128/document_minus.png");}
.bluebits128-document_search{background-image:url("../../img/icons/bluebits/128x128/document_search.png");}
.bluebits128-document_settings{background-image:url("../../img/icons/bluebits/128x128/document_settings.png");}
.bluebits128-folder_add{background-image:url("../../img/icons/bluebits/128x128/folder_add.png");}
.bluebits128-folder_arrow_down{background-image:url("../../img/icons/bluebits/128x128/folder_arrow_down.png");}
.bluebits128-folder_arrow_left{background-image:url("../../img/icons/bluebits/128x128/folder_arrow_left.png");}
.bluebits128-folder_arrow_right{background-image:url("../../img/icons/bluebits/128x128/folder_arrow_right.png");}
.bluebits128-folder_arrow_up{background-image:url("../../img/icons/bluebits/128x128/folder_arrow_up.png");}
.bluebits128-folder_check{background-image:url("../../img/icons/bluebits/128x128/folder_check.png");}
.bluebits128-folder_delete{background-image:url("../../img/icons/bluebits/128x128/folder_delete.png");}
.bluebits128-folder_minus{background-image:url("../../img/icons/bluebits/128x128/folder_minus.png");}
.bluebits128-folder_search{background-image:url("../../img/icons/bluebits/128x128/folder_search.png");}
.bluebits128-folder_settings{background-image:url("../../img/icons/bluebits/128x128/folder_settings.png");}
.bluebits128-globus_search{background-image:url("../../img/icons/bluebits/128x128/globus_search.png");}
.bluebits128-image_add{background-image:url("../../img/icons/bluebits/128x128/image_add.png");}
.bluebits128-image_arrow_down{background-image:url("../../img/icons/bluebits/128x128/image_arrow_down.png");}
.bluebits128-image_arrow_left{background-image:url("../../img/icons/bluebits/128x128/image_arrow_left.png");}
.bluebits128-image_arrow_right{background-image:url("../../img/icons/bluebits/128x128/image_arrow_right.png");}
.bluebits128-image_arrow_up{background-image:url("../../img/icons/bluebits/128x128/image_arrow_up.png");}
.bluebits128-image_check{background-image:url("../../img/icons/bluebits/128x128/image_check.png");}
.bluebits128-image_delete{background-image:url("../../img/icons/bluebits/128x128/image_delete.png");}
.bluebits128-image_minus{background-image:url("../../img/icons/bluebits/128x128/image_minus.png");}
.bluebits128-image_search{background-image:url("../../img/icons/bluebits/128x128/image_search.png");}
.bluebits128-image_settings{background-image:url("../../img/icons/bluebits/128x128/image_settings.png");}
.bluebits128-mail_add{background-image:url("../../img/icons/bluebits/128x128/mail_add.png");}
.bluebits128-mail_arrow_down{background-image:url("../../img/icons/bluebits/128x128/mail_arrow_down.png");}
.bluebits128-mail_arrow_left{background-image:url("../../img/icons/bluebits/128x128/mail_arrow_left.png");}
.bluebits128-mail_arrow_right{background-image:url("../../img/icons/bluebits/128x128/mail_arrow_right.png");}
.bluebits128-mail_arrow_up{background-image:url("../../img/icons/bluebits/128x128/mail_arrow_up.png");}
.bluebits128-mail_check{background-image:url("../../img/icons/bluebits/128x128/mail_check.png");}
.bluebits128-mail_delete{background-image:url("../../img/icons/bluebits/128x128/mail_delete.png");}
.bluebits128-mail_minus{background-image:url("../../img/icons/bluebits/128x128/mail_minus.png");}
.bluebits128-mail_pencil{background-image:url("../../img/icons/bluebits/128x128/mail_pencil.png");}
.bluebits128-mail_search{background-image:url("../../img/icons/bluebits/128x128/mail_search.png");}
.bluebits128-mail_settings{background-image:url("../../img/icons/bluebits/128x128/mail_settings.png");}
.bluebits128-profile_add{background-image:url("../../img/icons/bluebits/128x128/profile_add.png");}
.bluebits128-profile_arrow_down{background-image:url("../../img/icons/bluebits/128x128/profile_arrow_down.png");}
.bluebits128-profile_arrow_left{background-image:url("../../img/icons/bluebits/128x128/profile_arrow_left.png");}
.bluebits128-profile_arrow_right{background-image:url("../../img/icons/bluebits/128x128/profile_arrow_right.png");}
.bluebits128-profile_arrow_up{background-image:url("../../img/icons/bluebits/128x128/profile_arrow_up.png");}
.bluebits128-profile_check{background-image:url("../../img/icons/bluebits/128x128/profile_check.png");}
.bluebits128-profile_delete{background-image:url("../../img/icons/bluebits/128x128/profile_delete.png");}
.bluebits128-profile_minus{background-image:url("../../img/icons/bluebits/128x128/profile_minus.png");}
.bluebits128-profile_search{background-image:url("../../img/icons/bluebits/128x128/profile_search.png");}
.bluebits128-profile_settings{background-image:url("../../img/icons/bluebits/128x128/profile_settings.png");}
.bluebits128-user_add{background-image:url("../../img/icons/bluebits/128x128/user_add.png");}
.bluebits128-user_arrow_down{background-image:url("../../img/icons/bluebits/128x128/user_arrow_down.png");}
.bluebits128-user_arrow_left{background-image:url("../../img/icons/bluebits/128x128/user_arrow_left.png");}
.bluebits128-user_arrow_right{background-image:url("../../img/icons/bluebits/128x128/user_arrow_right.png");}
.bluebits128-user_arrow_up{background-image:url("../../img/icons/bluebits/128x128/user_arrow_up.png");}
.bluebits128-user_check{background-image:url("../../img/icons/bluebits/128x128/user_check.png");}
.bluebits128-user_delete{background-image:url("../../img/icons/bluebits/128x128/user_delete.png");}
.bluebits128-user_minus{background-image:url("../../img/icons/bluebits/128x128/user_minus.png");}
.bluebits128-user_search{background-image:url("../../img/icons/bluebits/128x128/user_search.png");}
.bluebits128-user_settings{background-image:url("../../img/icons/bluebits/128x128/user_settings.png");}