@charset "utf-8";
/* CSS Document */

[class^="coquette64-"],
[class*=" coquette64-"] {
	display: inline-block;
	width: 64px;
	height: 64px;
	line-height: 64px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.coquette64-accept{background-image:url("../../img/icons/coquette/64x64/accept.png");}
.coquette64-accept_page{background-image:url("../../img/icons/coquette/64x64/accept_page.png");}
.coquette64-add{background-image:url("../../img/icons/coquette/64x64/add.png");}
.coquette64-add_page{background-image:url("../../img/icons/coquette/64x64/add_page.png");}
.coquette64-add_to_folder{background-image:url("../../img/icons/coquette/64x64/add_to_folder.png");}
.coquette64-attachment{background-image:url("../../img/icons/coquette/64x64/attachment.png");}
.coquette64-back{background-image:url("../../img/icons/coquette/64x64/back.png");}
.coquette64-block{background-image:url("../../img/icons/coquette/64x64/block.png");}
.coquette64-calendar{background-image:url("../../img/icons/coquette/64x64/calendar.png");}
.coquette64-calendar_empty{background-image:url("../../img/icons/coquette/64x64/calendar_empty.png");}
.coquette64-chart{background-image:url("../../img/icons/coquette/64x64/chart.png");}
.coquette64-chart_pie{background-image:url("../../img/icons/coquette/64x64/chart_pie.png");}
.coquette64-clock{background-image:url("../../img/icons/coquette/64x64/clock.png");}
.coquette64-comment{background-image:url("../../img/icons/coquette/64x64/comment.png");}
.coquette64-comments{background-image:url("../../img/icons/coquette/64x64/comments.png");}
.coquette64-delete{background-image:url("../../img/icons/coquette/64x64/delete.png");}
.coquette64-delete_folder{background-image:url("../../img/icons/coquette/64x64/delete_folder.png");}
.coquette64-delete_page{background-image:url("../../img/icons/coquette/64x64/delete_page.png");}
.coquette64-download{background-image:url("../../img/icons/coquette/64x64/download.png");}
.coquette64-favorite{background-image:url("../../img/icons/coquette/64x64/favorite.png");}
.coquette64-folder{background-image:url("../../img/icons/coquette/64x64/folder.png");}
.coquette64-folder_accept{background-image:url("../../img/icons/coquette/64x64/folder_accept.png");}
.coquette64-folder_full{background-image:url("../../img/icons/coquette/64x64/folder_full.png");}
.coquette64-full_page{background-image:url("../../img/icons/coquette/64x64/full_page.png");}
.coquette64-heart{background-image:url("../../img/icons/coquette/64x64/heart.png");}
.coquette64-help{background-image:url("../../img/icons/coquette/64x64/help.png");}
.coquette64-info{background-image:url("../../img/icons/coquette/64x64/info.png");}
.coquette64-lock{background-image:url("../../img/icons/coquette/64x64/lock.png");}
.coquette64-mail{background-image:url("../../img/icons/coquette/64x64/mail.png");}
.coquette64-mail_lock{background-image:url("../../img/icons/coquette/64x64/mail_lock.png");}
.coquette64-mail_receive{background-image:url("../../img/icons/coquette/64x64/mail_receive.png");}
.coquette64-mail_search{background-image:url("../../img/icons/coquette/64x64/mail_search.png");}
.coquette64-mail_send{background-image:url("../../img/icons/coquette/64x64/mail_send.png");}
.coquette64-new_page{background-image:url("../../img/icons/coquette/64x64/new_page.png");}
.coquette64-next{background-image:url("../../img/icons/coquette/64x64/next.png");}
.coquette64-page_process{background-image:url("../../img/icons/coquette/64x64/page_process.png");}
.coquette64-process{background-image:url("../../img/icons/coquette/64x64/process.png");}
.coquette64-promotion{background-image:url("../../img/icons/coquette/64x64/promotion.png");}
.coquette64-protection{background-image:url("../../img/icons/coquette/64x64/protection.png");}
.coquette64-refresh{background-image:url("../../img/icons/coquette/64x64/refresh.png");}
.coquette64-rss{background-image:url("../../img/icons/coquette/64x64/rss.png");}
.coquette64-search{background-image:url("../../img/icons/coquette/64x64/search.png");}
.coquette64-search_page{background-image:url("../../img/icons/coquette/64x64/search_page.png");}
.coquette64-tag_blue{background-image:url("../../img/icons/coquette/64x64/tag_blue.png");}
.coquette64-tag_green{background-image:url("../../img/icons/coquette/64x64/tag_green.png");}
.coquette64-text_page{background-image:url("../../img/icons/coquette/64x64/text_page.png");}
.coquette64-unlock{background-image:url("../../img/icons/coquette/64x64/unlock.png");}
.coquette64-user{background-image:url("../../img/icons/coquette/64x64/user.png");}
.coquette64-users{background-image:url("../../img/icons/coquette/64x64/users.png");}
.coquette64-warning{background-image:url("../../img/icons/coquette/64x64/warning.png");}