@charset "utf-8";
/* CSS Document */

[class^="coquette24-"],
[class*=" coquette24-"] {
	display: inline-block;
	background-size: 100%;
	width: 24px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.coquette24-accept{background-image:url("../../img/icons/coquette/24x24/accept.png");}
.coquette24-accept_page{background-image:url("../../img/icons/coquette/24x24/accept_page.png");}
.coquette24-add{background-image:url("../../img/icons/coquette/24x24/add.png");}
.coquette24-add_page{background-image:url("../../img/icons/coquette/24x24/add_page.png");}
.coquette24-add_to_folder{background-image:url("../../img/icons/coquette/24x24/add_to_folder.png");}
.coquette24-attachment{background-image:url("../../img/icons/coquette/24x24/attachment.png");}
.coquette24-back{background-image:url("../../img/icons/coquette/24x24/back.png");}
.coquette24-block{background-image:url("../../img/icons/coquette/24x24/block.png");}
.coquette24-calendar{background-image:url("../../img/icons/coquette/24x24/calendar.png");}
.coquette24-calendar_empty{background-image:url("../../img/icons/coquette/24x24/calendar_empty.png");}
.coquette24-chart{background-image:url("../../img/icons/coquette/24x24/chart.png");}
.coquette24-chart_pie{background-image:url("../../img/icons/coquette/24x24/chart_pie.png");}
.coquette24-clock{background-image:url("../../img/icons/coquette/24x24/clock.png");}
.coquette24-comment{background-image:url("../../img/icons/coquette/24x24/comment.png");}
.coquette24-comments{background-image:url("../../img/icons/coquette/24x24/comments.png");}
.coquette24-delete{background-image:url("../../img/icons/coquette/24x24/delete.png");}
.coquette24-delete_folder{background-image:url("../../img/icons/coquette/24x24/delete_folder.png");}
.coquette24-delete_page{background-image:url("../../img/icons/coquette/24x24/delete_page.png");}
.coquette24-download{background-image:url("../../img/icons/coquette/24x24/download.png");}
.coquette24-favorite{background-image:url("../../img/icons/coquette/24x24/favorite.png");}
.coquette24-folder{background-image:url("../../img/icons/coquette/24x24/folder.png");}
.coquette24-folder_accept{background-image:url("../../img/icons/coquette/24x24/folder_accept.png");}
.coquette24-folder_full{background-image:url("../../img/icons/coquette/24x24/folder_full.png");}
.coquette24-full_page{background-image:url("../../img/icons/coquette/24x24/full_page.png");}
.coquette24-heart{background-image:url("../../img/icons/coquette/24x24/heart.png");}
.coquette24-help{background-image:url("../../img/icons/coquette/24x24/help.png");}
.coquette24-info{background-image:url("../../img/icons/coquette/24x24/info.png");}
.coquette24-lock{background-image:url("../../img/icons/coquette/24x24/lock.png");}
.coquette24-mail{background-image:url("../../img/icons/coquette/24x24/mail.png");}
.coquette24-mail_lock{background-image:url("../../img/icons/coquette/24x24/mail_lock.png");}
.coquette24-mail_receive{background-image:url("../../img/icons/coquette/24x24/mail_receive.png");}
.coquette24-mail_search{background-image:url("../../img/icons/coquette/24x24/mail_search.png");}
.coquette24-mail_send{background-image:url("../../img/icons/coquette/24x24/mail_send.png");}
.coquette24-new_page{background-image:url("../../img/icons/coquette/24x24/new_page.png");}
.coquette24-next{background-image:url("../../img/icons/coquette/24x24/next.png");}
.coquette24-page_process{background-image:url("../../img/icons/coquette/24x24/page_process.png");}
.coquette24-pencil{background-image:url("../../img/icons/coquette/24x24/pencil.png");}
.coquette24-process{background-image:url("../../img/icons/coquette/24x24/process.png");}
.coquette24-promotion{background-image:url("../../img/icons/coquette/24x24/promotion.png");}
.coquette24-protection{background-image:url("../../img/icons/coquette/24x24/protection.png");}
.coquette24-refresh{background-image:url("../../img/icons/coquette/24x24/refresh.png");}
.coquette24-rss{background-image:url("../../img/icons/coquette/24x24/rss.png");}
.coquette24-search{background-image:url("../../img/icons/coquette/24x24/search.png");}
.coquette24-search_page{background-image:url("../../img/icons/coquette/24x24/search_page.png");}
.coquette24-tag_blue{background-image:url("../../img/icons/coquette/24x24/tag_blue.png");}
.coquette24-tag_green{background-image:url("../../img/icons/coquette/24x24/tag_green.png");}
.coquette24-text_page{background-image:url("../../img/icons/coquette/24x24/text_page.png");}
.coquette24-unlock{background-image:url("../../img/icons/coquette/24x24/unlock.png");}
.coquette24-user{background-image:url("../../img/icons/coquette/24x24/user.png");}
.coquette24-users{background-image:url("../../img/icons/coquette/24x24/users.png");}
.coquette24-warning{background-image:url("../../img/icons/coquette/24x24/warning.png");}