@charset "utf-8";
/* CSS Document */

[class^="menu1-"],
[class*=" menu1-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.menu1-android{background-image: url("../../img/icons/menu/dark/android.png");}
.menu1-basket{background-image: url("../../img/icons/menu/dark/basket.png");}
.menu1-books{background-image: url("../../img/icons/menu/dark/books.png");}
.menu1-brush{background-image: url("../../img/icons/menu/dark/brush.png");}
.menu1-calendar{background-image: url("../../img/icons/menu/dark/calendar.png");}
.menu1-chart{background-image: url("../../img/icons/menu/dark/chart.png");}
.menu1-clipboard{background-image: url("../../img/icons/menu/dark/clipboard.png");}
.menu1-comment{background-image: url("../../img/icons/menu/dark/comment.png");}
.menu1-comments{background-image: url("../../img/icons/menu/dark/comments.png");}
.menu1-contacts{background-image: url("../../img/icons/menu/dark/contacts.png");}
.menu1-cut{background-image: url("../../img/icons/menu/dark/cut.png");}
.menu1-directions{background-image: url("../../img/icons/menu/dark/directions.png");}
.menu1-dollar{background-image: url("../../img/icons/menu/dark/dollar.png");}
.menu1-download{background-image: url("../../img/icons/menu/dark/download.png");}
.menu1-dribbble{background-image: url("../../img/icons/menu/dark/dribbble.png");}
.menu1-dropbox{background-image: url("../../img/icons/menu/dark/dropbox.png");}
.menu1-earth{background-image: url("../../img/icons/menu/dark/earth.png");}
.menu1-facebook{background-image: url("../../img/icons/menu/dark/facebook.png");}
.menu1-factory{background-image: url("../../img/icons/menu/dark/factory.png");}
.menu1-feed{background-image: url("../../img/icons/menu/dark/feed.png");}
.menu1-flag{background-image: url("../../img/icons/menu/dark/flag.png");}
.menu1-home{background-image: url("../../img/icons/menu/dark/home.png");}
.menu1-idea{background-image: url("../../img/icons/menu/dark/idea.png");}
.menu1-inbox{background-image: url("../../img/icons/menu/dark/inbox.png");}
.menu1-inbox2{background-image: url("../../img/icons/menu/dark/inbox2.png");}
.menu1-info{background-image: url("../../img/icons/menu/dark/info.png");}
.menu1-key{background-image: url("../../img/icons/menu/dark/key.png");}
.menu1-lab{background-image: url("../../img/icons/menu/dark/lab.png");}
.menu1-lastfm{background-image: url("../../img/icons/menu/dark/lastfm.png");}
.menu1-layout{background-image: url("../../img/icons/menu/dark/layout.png");}
.menu1-list{background-image: url("../../img/icons/menu/dark/list.png");}
.menu1-lock{background-image: url("../../img/icons/menu/dark/lock.png");}
.menu1-mail{background-image: url("../../img/icons/menu/dark/mail.png");}
.menu1-map{background-image: url("../../img/icons/menu/dark/map.png");}
.menu1-marker{background-image: url("../../img/icons/menu/dark/marker.png");}
.menu1-medias{background-image: url("../../img/icons/menu/dark/medias.png");}
.menu1-mobile{background-image: url("../../img/icons/menu/dark/mobile.png");}
.menu1-money{background-image: url("../../img/icons/menu/dark/money.png");}
.menu1-movie{background-image: url("../../img/icons/menu/dark/movie.png");}
.menu1-outbox{background-image: url("../../img/icons/menu/dark/outbox.png");}
.menu1-pacman{background-image: url("../../img/icons/menu/dark/pacman.png");}
.menu1-page{background-image: url("../../img/icons/menu/dark/page.png");}
.menu1-pages{background-image: url("../../img/icons/menu/dark/pages.png");}
.menu1-paypal{background-image: url("../../img/icons/menu/dark/paypal.png");}
.menu1-pdf{background-image: url("../../img/icons/menu/dark/pdf.png");}
.menu1-pdfs{background-image: url("../../img/icons/menu/dark/pdfs.png");}
.menu1-pen{background-image: url("../../img/icons/menu/dark/pen.png");}
.menu1-pig{background-image: url("../../img/icons/menu/dark/pig.png");}
.menu1-plane{background-image: url("../../img/icons/menu/dark/plane.png");}
.menu1-print{background-image: url("../../img/icons/menu/dark/print.png");}
.menu1-search{background-image: url("../../img/icons/menu/dark/search.png");}
.menu1-settings{background-image: url("../../img/icons/menu/dark/settings.png");}
.menu1-shirt{background-image: url("../../img/icons/menu/dark/shirt.png");}
.menu1-skype{background-image: url("../../img/icons/menu/dark/skype.png");}
.menu1-slideshow{background-image: url("../../img/icons/menu/dark/slideshow.png");}
.menu1-suitcase{background-image: url("../../img/icons/menu/dark/suitcase.png");}
.menu1-support{background-image: url("../../img/icons/menu/dark/support.png");}
.menu1-timer{background-image: url("../../img/icons/menu/dark/timer.png");}
.menu1-trophy{background-image: url("../../img/icons/menu/dark/trophy.png");}
.menu1-tumblr{background-image: url("../../img/icons/menu/dark/tumblr.png");}
.menu1-twitter{background-image: url("../../img/icons/menu/dark/twitter.png");}
.menu1-upload{background-image: url("../../img/icons/menu/dark/upload.png");}
.menu1-user{background-image: url("../../img/icons/menu/dark/user.png");}
.menu1-users{background-image: url("../../img/icons/menu/dark/users.png");}
.menu1-vcard{background-image: url("../../img/icons/menu/dark/vcard.png");}
.menu1-vimeo{background-image: url("../../img/icons/menu/dark/vimeo.png");}
.menu1-wifi{background-image: url("../../img/icons/menu/dark/wifi.png");}
.menu1-wordpress{background-image: url("../../img/icons/menu/dark/wordpress.png");}
.menu1-zip{background-image: url("../../img/icons/menu/dark/zip.png");}
.menu1-zips{background-image: url("../../img/icons/menu/dark/zips.png");}


[class^="lang-"],
[class*=" lang-"] {
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 5px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  margin-top: 2px;
}

.lang-pl{background-image: url("../../img/icons/lang/pl.png");}
.lang-de{background-image: url("../../img/icons/lang/de.png");}
.lang-fr{background-image: url("../../img/icons/lang/fr.png");}
.lang-gb{background-image: url("../../img/icons/lang/gb.png");}
.lang-it{background-image: url("../../img/icons/lang/it.png");}
.lang-ru{background-image: url("../../img/icons/lang/ru.png");}
.lang-us{background-image: url("../../img/icons/lang/us.png");}